In [7]:
import pandas as pd
data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [8]:
result = df.sub(1)
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [9]:
data2  = [[3],[4],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [10]:
result

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [5]:
result = df.sub(df2)
print(result)

      col1  col2  col3
row1    -2   NaN   NaN
row2    -2   NaN   NaN
row3    -2   NaN   NaN

In [11]:
result = df.sub(df2, fill_value=0) #
result

      col1  col2   col3
row1    -2  10.0  100.0
row2    -2  20.0  200.0
row3    -2  30.0  300.0