In [1]:
import pandas as pd
import numpy as np

In [18]:
data = [[1,2,3],[4,5,6],[7,8,9]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [19]:
df.insert(2, 'col4', [10,11,12])

In [20]:
df

      col1  col2  col4  col3
row1     1     2    10     3
row2     4     5    11     6
row3     7     8    12     9

In [21]:
df.iloc[:, 3]

row1    3
row2    6
row3    9
Name: col3, dtype: int64

In [22]:
df.insert(3,'col3',[10,11,12],allow_duplicates=True)
print(df)

      col1  col2  col4  col3  col3
row1     1     2    10    10     3
row2     4     5    11    11     6
row3     7     8    12    12     9

In [23]:
data = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
col = ['col1','col2','col3','col4']
row = ['row1','row2','row3','row4']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3  col4
row1     1     2     3     4
row2     5     6     7     8
row3     9    10    11    12
row4    13    14    15    16

In [24]:
df.pop('col3')
df

      col1  col2  col4
row1     1     2     4
row2     5     6     8
row3     9    10    12
row4    13    14    16

In [25]:
df

      col1  col2  col4
row1     1     2     4
row2     5     6     8
row3     9    10    12
row4    13    14    16

In [30]:
row = ['row1','row2','row3']
col = ['col1','col2','col3']
data = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [31]:
df.drop(labels='row2', axis=0)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

axis 기본값이 0으로 설정되어 있는것 같다.

In [32]:
df.drop(labels='row2')

      col1  col2  col3
row1     1     2     3
row3     7     8     9

In [33]:
df.drop(labels='col1')

KeyError: "['col1'] not found in axis"

copy

In [34]:
row = ['row1','row2','row3','row4']
col = ['col1','col2','col3','col4']
data = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

      col1  col2  col3  col4
row1     1     2     3     4
row2     5     6     7     8
row3     9    10    11    12
row4    13    14    15    16

In [37]:
df.truncate(before='row2',after='row3',axis=0, copy=False)
df

      col1  col2  col3  col4
row1     1     2     3     4
row2     5     6     7     8
row3     9    10    11    12
row4    13    14    15    16

차원축소, 스칼라 변환 (squeeze)

In [38]:
df=pd.DataFrame(data=[[1,2],[3,4]],index=['row1','row2'],columns=['col1','col2'])
print(df)

      col1  col2
row1     1     2
row2     3     4

In [39]:
df_row=df.drop(index='row1')
print(df_row)

      col1  col2
row2     3     4

In [40]:
print(df_row.squeeze())

col1    3
col2    4
Name: row2, dtype: int64

In [41]:
df_col=df.drop(columns='col1')
print(df_col)

      col2
row1     2
row2     4

In [42]:
print(df_col.squeeze())

row1    2
row2    4
Name: col2, dtype: int64

pivot_table

In [43]:
col = ['Machine','Country','Grade','Price','Count']
data = [['TV','Korea','A',1000,3],
        ['TV','Korea','B', 800,8],
        ['TV','Korea','B', 800,2],
        ['TV','Japan','A',1300,5],
        ['TV','Japan','A',1300,1],
        ['PC','Korea','B',1500,6],
        ['PC','Korea','A',2000,9],
        ['PC','Japan','A',3000,3],
        ['PC','Japan','B',2500,3]]
df = pd.DataFrame(data=data, columns=col)
print(df)

  Machine Country Grade  Price  Count
0      TV   Korea     A   1000      3
1      TV   Korea     B    800      8
2      TV   Korea     B    800      2
3      TV   Japan     A   1300      5
4      TV   Japan     A   1300      1
5      PC   Korea     B   1500      6
6      PC   Korea     A   2000      9
7      PC   Japan     A   3000      3
8      PC   Japan     B   2500      3

In [55]:
print(df.pivot_table(values='Price',index=['Machine','Country'],columns='Grade'))

Grade                 A       B
Machine Country
PC      Japan    3000.0  2500.0
        Korea    2000.0  1500.0
TV      Japan    1300.0     NaN
        Korea    1000.0   800.0

explode

In [94]:
data = [[[1,2],['a','b']],[3,'c']]
idx = ['row1','row2']
col = ['col1','col2']
df1 = pd.DataFrame(data =data, index = idx, columns = col)
print(df)

           col1 col2       col3
row1  [1, 2, 3]    0  [a, b, c]
row2          4   []          3
row3          5    2  [x, y, z]

In [95]:
data= [[[1,2,3],0,['a','b','c']],[4,[],3],[5,2,['x','y','z']]]
idx = ['row1','row2','row3']
col = ['col1','col2','col3']
df2 = pd.DataFrame(data = data, index = idx, columns = col)
print(df)

           col1 col2       col3
row1  [1, 2, 3]    0  [a, b, c]
row2          4   []          3
row3          5    2  [x, y, z]

In [96]:
print(df2.explode(column='col1'))

     col1 col2       col3
row1    1    0  [a, b, c]
row1    2    0  [a, b, c]
row1    3    0  [a, b, c]
row2    4   []          3
row3    5    2  [x, y, z]

In [97]:
print(df2.explode('col1'))

     col1 col2       col3
row1    1    0  [a, b, c]
row1    2    0  [a, b, c]
row1    3    0  [a, b, c]
row2    4   []          3
row3    5    2  [x, y, z]

In [104]:
print(df1.explode(column=['col1','col2']))

ValueError: column must be a scalar

In [84]:
print( pd.__version__ )

0.25.1

column의 list나 tuple을 제공하는 형태는 pandas 1.3.0버전 이상에서 가능

In [2]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [5]:
result = df.index
print(result)

Index(['row1', 'row2', 'row3'], dtype='object')