In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

1. view_count를 기준으로 정렬한 뒤 조회수가 가장 높은 유튜버와 가장적은 유튜버?
2. 무작위로 10개만 추출하기

In [5]:
col1 = [1, 2, 3, 4, 5]
col2 = ['one', 'two', 'three', 'four', 'five']
col3 = [1.5, 2.5, 3.5, 4.5, 5.5]
col4 = [True, False, False, True, True]
df = pd.DataFrame({"col1": col1, "col2": col2, "col3": col3, "col4": col4})
df

   col1   col2  col3   col4
0     1    one   1.5   True
1     2    two   2.5  False
2     3  three   3.5  False
3     4   four   4.5   True
4     5   five   5.5   True

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
col1    5 non-null int64
col2    5 non-null object
col3    5 non-null float64
col4    5 non-null bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 253.0+ bytes

In [9]:
df2 = df.filter(items=['col1', 'col3'])

In [10]:
df2.clip(2,4)

   col1  col3
0     2   2.0
1     2   2.5
2     3   3.5
3     4   4.0
4     4   4.0

In [12]:
import numpy as np
n=np.NaN
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data1 = [[5,7,8],
         [n,1,3],
         [5,6,7]]
data2 = [[2,3,6],
         [6,3,n],
         [8,2,3]]
df1 = pd.DataFrame(data1,row,col)
df2 = pd.DataFrame(data2,row,col)

In [14]:
print(df1)
print(df2)

      col1  col2  col3
row1   5.0     7     8
row2   NaN     1     3
row3   5.0     6     7
      col1  col2  col3
row1     2     3   6.0
row2     6     3   NaN
row3     8     2   3.0

In [48]:
df1.sum()

col1    10.0
col2    14.0
col3    18.0
dtype: float64