In [116]:
import pandas as pd
import numpy as np

In [117]:
dates = pd.date_range('20200625', periods=6)
dates

DatetimeIndex(['2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

In [118]:
df = pd.DataFrame(np.random.randn(6, 4), 
                  index=dates, 
                  columns=['A','B','C','D'])

In [119]:
df

                   A         B         C         D
2020-06-25  0.881860 -0.489489 -0.809510 -0.161979
2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505
2020-06-27  1.220350 -0.681578  0.176201  0.454634
2020-06-28 -0.080429  1.257662  0.645795 -0.907973
2020-06-29 -0.603151 -0.068976  1.758890 -0.459301
2020-06-30 -1.284816  0.226581 -0.785470  1.323591

In [120]:
df2 = df.copy()
df2
# df는 기본적으로 행, 열의 위치값을 가지고 있음
# 기본적으로 가지고 있는 위치값(index)를 이용해서 조작하는 경우
# iloc[]를 사용
# 일부 그래프나. 분석시 특정 항목을 index항목으로 수동으로 설정해야 하는 경우가 있음
# 특정항목을 index항목으로 설정 가능한 경우는 unique / not null인 값을 
#$ 가지는 항목만 설정 가능
# user_id, bbs_id

                   A         B         C         D
2020-06-25  0.881860 -0.489489 -0.809510 -0.161979
2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505
2020-06-27  1.220350 -0.681578  0.176201  0.454634
2020-06-28 -0.080429  1.257662  0.645795 -0.907973
2020-06-29 -0.603151 -0.068976  1.758890 -0.459301
2020-06-30 -1.284816  0.226581 -0.785470  1.323591

In [121]:
df2.reset_index(inplace=True)

In [122]:
df2

       index         A         B         C         D
0 2020-06-25  0.881860 -0.489489 -0.809510 -0.161979
1 2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505
2 2020-06-27  1.220350 -0.681578  0.176201  0.454634
3 2020-06-28 -0.080429  1.257662  0.645795 -0.907973
4 2020-06-29 -0.603151 -0.068976  1.758890 -0.459301
5 2020-06-30 -1.284816  0.226581 -0.785470  1.323591

In [123]:
df2.set_index('index', inplace=True)
df2

                   A         B         C         D
index
2020-06-25  0.881860 -0.489489 -0.809510 -0.161979
2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505
2020-06-27  1.220350 -0.681578  0.176201  0.454634
2020-06-28 -0.080429  1.257662  0.645795 -0.907973
2020-06-29 -0.603151 -0.068976  1.758890 -0.459301
2020-06-30 -1.284816  0.226581 -0.785470  1.323591

In [124]:
df2['E'] = df2['A'] + 1 #브로드캐스팅!

In [125]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [126]:
df2['E']

index
2020-06-25    1.881860
2020-06-26   -0.212559
2020-06-27    2.220350
2020-06-28    0.919571
2020-06-29    0.396849
2020-06-30   -0.284816
Name: E, dtype: float64

In [127]:
df2['F'] = 0

In [128]:
df2['F']

index
2020-06-25    0
2020-06-26    0
2020-06-27    0
2020-06-28    0
2020-06-29    0
2020-06-30    0
Name: F, dtype: int64

In [129]:
df2['G'] = range(0, 6)
df2['G']

index
2020-06-25    0
2020-06-26    1
2020-06-27    2
2020-06-28    3
2020-06-29    4
2020-06-30    5
Name: G, dtype: int32

In [130]:
# index를 변경하고 싶은 경우, 기존의 인덱스를 살리고 싶으면
# 먼저 reset_index()하고 나서 해야함.
# reset을 하지 않는 경우 기존 index항목은 사라짐.
df2.set_index('G', inplace=True)

In [131]:
df2

          A         B         C         D         E  F
G
0  0.881860 -0.489489 -0.809510 -0.161979  1.881860  0
1 -1.212559 -0.349677 -2.944039 -0.993505 -0.212559  0
2  1.220350 -0.681578  0.176201  0.454634  2.220350  0
3 -0.080429  1.257662  0.645795 -0.907973  0.919571  0
4 -0.603151 -0.068976  1.758890 -0.459301  0.396849  0
5 -1.284816  0.226581 -0.785470  1.323591 -0.284816  0

In [132]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [133]:
df3 = df.copy()
df3

                   A         B         C         D
2020-06-25  0.881860 -0.489489 -0.809510 -0.161979
2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505
2020-06-27  1.220350 -0.681578  0.176201  0.454634
2020-06-28 -0.080429  1.257662  0.645795 -0.907973
2020-06-29 -0.603151 -0.068976  1.758890 -0.459301
2020-06-30 -1.284816  0.226581 -0.785470  1.323591

In [134]:
# E 항목을 파생변수로 만드세요 1~10범위 값
# F 항목을 파생변수로 만드세요 A열과 C의 합
# H 항목을 파생변수로 만드세여 1로 설정
# Z 항목을 파생변수로 만드세요 1~9까지의 랜덤한 값으로 설정

In [135]:
import random

In [136]:
# E 항목을 파생변수로 만드세요 1~10범위 값
data = range(1,11) # 1~10
data2 = []
for i in range(6):
    data2.append(random.choice(data))
df3['E'] = data2
df3['E']

2020-06-25    10
2020-06-26     3
2020-06-27     4
2020-06-28     7
2020-06-29     4
2020-06-30     7
Freq: D, Name: E, dtype: int64

In [137]:
# F 항목을 파생변수로 만드세요 A열과 C열의 합
df3['F'] = df['A'] + df['C']
df3

                   A         B         C         D   E         F
2020-06-25  0.881860 -0.489489 -0.809510 -0.161979  10  0.072351
2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505   3 -4.156598
2020-06-27  1.220350 -0.681578  0.176201  0.454634   4  1.396550
2020-06-28 -0.080429  1.257662  0.645795 -0.907973   7  0.565365
2020-06-29 -0.603151 -0.068976  1.758890 -0.459301   4  1.155739
2020-06-30 -1.284816  0.226581 -0.785470  1.323591   7 -2.070285

In [138]:
# H 항목을 파생변수로 만드세여 1로 설정
df3['H'] = 1
df3

                   A         B         C         D   E         F  H
2020-06-25  0.881860 -0.489489 -0.809510 -0.161979  10  0.072351  1
2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505   3 -4.156598  1
2020-06-27  1.220350 -0.681578  0.176201  0.454634   4  1.396550  1
2020-06-28 -0.080429  1.257662  0.645795 -0.907973   7  0.565365  1
2020-06-29 -0.603151 -0.068976  1.758890 -0.459301   4  1.155739  1
2020-06-30 -1.284816  0.226581 -0.785470  1.323591   7 -2.070285  1

In [139]:
df3['Z'] = random.randint(1, 10)
df3['Z']

2020-06-25    7
2020-06-26    7
2020-06-27    7
2020-06-28    7
2020-06-29    7
2020-06-30    7
Freq: D, Name: Z, dtype: int64

In [141]:
data2 = []
for _ in range(6):
    data2.append(random.randint(1, 10))
data2

[7, 7, 5, 6, 8, 10]

In [140]:
# Z 항목을 파생변수로 만드세요 1~9까지의 랜덤한 값으로 설정

# data2 = []
# for _ in range(6):
#     data2.append(random.randint(1, 10))
# data2
# df3['Z2'] = data2

df3['Z2'] = [random.randint(1, 10) for _ in range(6)]
df3['Z2']

2020-06-25    8
2020-06-26    7
2020-06-27    1
2020-06-28    7
2020-06-29    9
2020-06-30    4
Freq: D, Name: Z2, dtype: int64

In [142]:
# 리스트 내포 : 결과가 항상 list
# list comprehension
[random.randint(1, 10) for _ in range(6)]

[4, 10, 10, 2, 10, 4]

In [144]:
# [ '반복하면서 한번에 처리할 내용' for i in range(10)]
[i + 1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
# [ '반복하면서 한번에 처리할 내용' for i in range(10) if i % 2 == 0]
[i + 1 for i in range(10) if  i % 2 == 0]

[1, 3, 5, 7, 9]

In [154]:
name = ['홍길동', '김길동', '송길동']
for x in name :
    print(x)

홍길동
김길동
송길동

In [158]:
# name에 들어있는 각각의 모든 데이터에 '님'자를 붙여주세요
[i + '님' for i in name]

['홍길동님', '김길동님', '송길동님']

In [ ]:
# name에 들어있는 각각의 모든 데이터에 '신입'자를 붙여주세요

In [161]:
['신입 ' + i  for i in name]

['신입 홍길동', '신입 김길동', '신입 송길동']

In [188]:
a_list = range(1, 100, 2)

In [191]:
# a_list에 몇 개가 들어 있는지 세어보기
count = 0
result = [count + 1 for x in a_list]
sum(result)

50

In [ ]:
# a_list의 각각의 모든 데이터에 0.1을 곱하기. 변경된 a_list의 합과 평균

In [199]:
a_list = [x * 0.1 for x in a_list]

In [200]:
np.sum(a_list)

250.0

In [201]:
np.mean(a_list)

5.0

In [203]:
np.std(a_list)

2.8861739379323628

In [204]:
[x * 0.1 for x in a_list][:3]

[0.010000000000000002, 0.030000000000000006, 0.05]

In [209]:
df3.drop(columns=['H'], inplace=True) #열 삭제

In [211]:
df3

                   A         B         C         D   E         F  Z  Z2
2020-06-25  0.881860 -0.489489 -0.809510 -0.161979  10  0.072351  7   8
2020-06-26 -1.212559 -0.349677 -2.944039 -0.993505   3 -4.156598  7   7
2020-06-27  1.220350 -0.681578  0.176201  0.454634   4  1.396550  7   1
2020-06-28 -0.080429  1.257662  0.645795 -0.907973   7  0.565365  7   7
2020-06-29 -0.603151 -0.068976  1.758890 -0.459301   4  1.155739  7   9
2020-06-30 -1.284816  0.226581 -0.785470  1.323591   7 -2.070285  7   4

In [1]:
df3.drop(columns=['Z', 'Z2', 'E', 'F'], inplace=True) #열 삭제
df3

NameError: name 'df3' is not defined

In [ ]:
df3.drop(index='2020-0626')