In [1]:
# 주요 라이브러리 import
import warnings
warnings.filterwarnings(action='ignore')
import time
from IPython.display import Image
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import *
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso, ElasticNet

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../../NanumGothic.ttf'
# font_location = './NanumGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)

In [2]:
df = pd.read_csv('data.csv') # 2019년 여행설문

In [3]:
df[:100]

,ID,Q,QQ,MON_EXP_1,MON_EXP_2,MON_EXP_3,MON_EXP_4,MON_EXP_5,MON_EXP_6,S5,...,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10,국내_여행방문지_기타당일11,국내_여행방문지_기타당일12,국내_여행방문지_기타당일13,국내_여행방문지_기타당일14,국내_여행방문지_기타당일15,국내_여행방문지_기타당일16,국내_여행방문지_기타당일17
0,11010550341_1000000,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11010550341_1000005,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11010550341_1000007,2,0,1,2,2,2,2,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11010550341_1000012,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11010550341_1000013,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11020580301_1221834,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,11020580301_1221840,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,11020580301_1221847,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,11020580301_1221861,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,11020580301_1221874,1,0,2,2,2,2,2,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
##input 년도에 여행한 사람만 추출하기 전 확인
year = 2019 ##년도
df.iloc[50:100,1:15][df['D_TRA1_SYEAR']==year]

,Q,QQ,MON_EXP_1,MON_EXP_2,MON_EXP_3,MON_EXP_4,MON_EXP_5,MON_EXP_6,S5,S5A_1,S5A_2,S5A_3,S5A_4,S5A_5
50,2,0,2,1,1,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
53,2,0,1,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN
55,1,0,2,2,1,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
56,2,0,1,2,1,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
58,2,0,1,2,1,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
59,2,0,1,2,1,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
60,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
61,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
62,1,0,2,2,2,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN
63,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
64,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
65,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
66,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
67,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
68,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
69,1,0,2,1,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
70,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
72,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
74,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
75,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
76,1,0,2,2,2,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN
77,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
78,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
79,1,0,2,2,1,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
80,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
81,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
83,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
86,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
90,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
92,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
93,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
95,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
96,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
97,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
98,1,0,1,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['D_TRA1_SYEAR'].value_counts()

2019.0    27281
2018.0       40
Name: D_TRA1_SYEAR, dtype: int64

In [6]:
##year 년도에 여행한 사람만 추출
df = df[df['D_TRA1_SYEAR']==year]

In [7]:
## 관광/휴양 이 포함되지 않는 row 제거
df = df[(df['MON_EXP_1']!=0) | (df['MON_EXP_2']!=0.0) | (df['MON_EXP_4']!=0)]

In [8]:
## 추천도, 재방문의사 보통이상만 추출
df = df[(df['A13']>=3) & (df['A14']>=3)]
df

,ID,Q,QQ,MON_EXP_1,MON_EXP_2,MON_EXP_3,MON_EXP_4,MON_EXP_5,MON_EXP_6,S5,...,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10,국내_여행방문지_기타당일11,국내_여행방문지_기타당일12,국내_여행방문지_기타당일13,국내_여행방문지_기타당일14,국내_여행방문지_기타당일15,국내_여행방문지_기타당일16,국내_여행방문지_기타당일17
1,11010550341_1000005,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11010550341_1000007,2,0,1,2,2,2,2,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11010550341_1000012,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11010550341_1000013,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11010550341_1000018,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48229,39020600401_1319375,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48246,3902061022A_1382196,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48247,3902061022A_1382200,1,0,2,1,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48260,39020620091_1382242,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48266,39020620091_1382421,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
## 1차 필요컬럼
columns_list = [
    'D_TRA1_SYEAR',
    'A3_1',
    'A3_2',
    'A3_3',
    'A3_4',
    'A3_5',
    'A3_6',
    'A3_7',
    'A3_8',
    'A3_9',
    'A3_10',
    'A3_11',
    'A3_12',
    'A3_13',
    'A3_14',
    'A3_15',
    'A3_16',
    'A3_17',
    'A3_18',
    'A3_19',
    'A3_20',
    'A3_21',
    'BSEX',
    'BAGE',
    'BAGE',
    'BMON',
    'BARA',
    'A12',
    'A10',
    'A7A',
    'A7',
    'A7B_1',
    'A7B_2',
    'A7B_3',
    'A7B_4',
    'A7B_5',
    'A7B_6',
    'A7B_7',
    'A2_1',
    'A2_2',
    'A2_3',
    'A5_1',
    'A5_2',
    'A5_3',
    'A6_1',
    'A6_2',
    'A6_3',
    'A6_4',
    'A6_5',
    'A6_6',
    'A6_7',
    'A6_8',
    'A6_9',
    'A6_10',
    'A6_11',
    'A6_12',
    'A6_13',
    'A6_14',
    'D_TRA1_SMONTH',
    'D_TRA2_SMONTH',
    'D_TRA3_SMONTH',
    'D_TRA4_SMONTH',
    'D_TRA5_SMONTH',
    'D_TRA6_SMONTH',
    'D_TRA7_SMONTH',
    'D_TRA8_SMONTH',
    'D_TRA1_1_SPOT1',
    'D_TRA1_1_SPOT2',
    'D_TRA1_1_SPOT3',
    'D_TRA1_1_SPOT4',
    'D_TRA1_1_SPOT5',
    'D_TRA1_1_SPOT6',
    'D_TRA1_1_SPOT7',
    'D_TRA1_1_SPOT8',
    'D_TRA1_1_SPOT9',
    'D_TRA1_1_SPOT10',
    'D_TRA2_1_SPOT1',
    'D_TRA2_1_SPOT2',
    'D_TRA2_1_SPOT3',
    'D_TRA2_1_SPOT4',
    'D_TRA2_1_SPOT5',
    'D_TRA2_1_SPOT6',
    'D_TRA2_1_SPOT7',
    'D_TRA2_1_SPOT8',
    'D_TRA2_1_SPOT9',
    'D_TRA2_1_SPOT10',
    'D_TRA3_1_SPOT1',
    'D_TRA3_1_SPOT2',
    'D_TRA3_1_SPOT3',
    'D_TRA3_1_SPOT4',
    'D_TRA3_1_SPOT5',
    'D_TRA3_1_SPOT6',
    'D_TRA3_1_SPOT7',
    'D_TRA3_1_SPOT8',
    'D_TRA3_1_SPOT9',
    'D_TRA3_1_SPOT10',
    'D_TRA4_1_SPOT1',
    'D_TRA4_1_SPOT2',
    'D_TRA4_1_SPOT3',
    'D_TRA4_1_SPOT4',
    'D_TRA4_1_SPOT5',
    'D_TRA4_1_SPOT6',
    'D_TRA4_1_SPOT7',
    'D_TRA4_1_SPOT8',
    'D_TRA4_1_SPOT9',
    'D_TRA4_1_SPOT10',
    'D_TRA5_1_SPOT1',
    'D_TRA5_1_SPOT2',
    'D_TRA5_1_SPOT3',
    'D_TRA5_1_SPOT4',
    'D_TRA5_1_SPOT5',
    'D_TRA5_1_SPOT6',
    'D_TRA5_1_SPOT7',
    'D_TRA5_1_SPOT8',
    'D_TRA5_1_SPOT9',
    'D_TRA5_1_SPOT10',
    'D_TRA6_1_SPOT1',
    'D_TRA6_1_SPOT2',
    'D_TRA6_1_SPOT3',
    'D_TRA6_1_SPOT4',
    'D_TRA6_1_SPOT5',
    'D_TRA6_1_SPOT6',
    'D_TRA6_1_SPOT7',
    'D_TRA6_1_SPOT8',
    'D_TRA6_1_SPOT9',
    'D_TRA6_1_SPOT10',
    'D_TRA7_1_SPOT1',
    'D_TRA7_1_SPOT2',
    'D_TRA7_1_SPOT3',
    'D_TRA7_1_SPOT4',
    'D_TRA7_1_SPOT5',
    'D_TRA7_1_SPOT6',
    'D_TRA7_1_SPOT7',
    'D_TRA7_1_SPOT8',
    'D_TRA7_1_SPOT9',
    'D_TRA7_1_SPOT10',
    'D_TRA8_1_SPOT1',
    'D_TRA8_1_SPOT2',
    'D_TRA8_1_SPOT3',
    'D_TRA8_1_SPOT4',
    'D_TRA8_1_SPOT5',
    'D_TRA8_1_SPOT6',
    'D_TRA8_1_SPOT7',
    'D_TRA8_1_SPOT8',
    'D_TRA8_1_SPOT9',
    'D_TRA8_1_SPOT10',
    'D_TRA1_S_Day',
    'D_TRA2_S_Day',
    'D_TRA3_S_Day',
    'D_TRA4_S_Day',
    'D_TRA5_S_Day',
    'D_TRA6_S_Day',
    'D_TRA7_S_Day',
    'D_TRA8_S_Day',
]

In [10]:
df = df[columns_list]

In [11]:
df.reset_index(inplace=True)
del df['index']
df

,D_TRA1_SYEAR,A3_1,A3_2,A3_3,A3_4,A3_5,A3_6,A3_7,A3_8,A3_9,...,D_TRA8_1_SPOT9,D_TRA8_1_SPOT10,D_TRA1_S_Day,D_TRA2_S_Day,D_TRA3_S_Day,D_TRA4_S_Day,D_TRA5_S_Day,D_TRA6_S_Day,D_TRA7_S_Day,D_TRA8_S_Day
0,2019.0,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.0,1.0,2.0,3.0,NaN,NaN,6.0,7.0,8.0,9.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.0,1.0,2.0,3.0,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22567,2019.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22568,2019.0,NaN,2.0,NaN,NaN,NaN,6.0,NaN,8.0,9.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22569,2019.0,NaN,2.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22570,2019.0,NaN,NaN,NaN,NaN,5.0,6.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22571,2019.0,NaN,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df[['A6_1', 'A6_2','A6_3','A6_4','A6_5','A6_6','A6_7','A6_8','A6_9','A6_10','A6_11','A6_12','A6_13','A6_14']]

,A6_1,A6_2,A6_3,A6_4,A6_5,A6_6,A6_7,A6_8,A6_9,A6_10,A6_11,A6_12,A6_13,A6_14
0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN
22569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22570,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22571,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
## 퍼진 컬럼들 압축 과정

## TRA1_1, TRA1_2 등 모든 여행지 파생변수 area로 ,로 구분해서 입력, 
## 여행지 개수 count하여 no_of_place 컬럼에입력
# 1-1 1-2 1-3 1-4 1-5 ... 8-10
# [1,2,3,4,5,6]
sleepnights_list = [] #여행지에서 잔 밤수(박) ex) 1박 2일 = 1
cost_list = [] # 여행비용 <=이후 중복컬럼 생겨서 미사용
area_list = [] # 거주지 
count_list = [] # 여행지 개수 일치확인용 
month_list = [] # 여행 출발 월
for index in df.index:
    sleepnights = ''
    cost = ''
    area = ''
    count = 0
    month = ''
    # accommodation = ''
    for i in range (1,9):
        col_sleepnights = 'D_TRA'+str(i)+'_S_Day'       
        col_cost = 'D_TRA'+str(i)+'_COST'        
        try: 
            sleepnights = sleepnights + str(int(df.loc[index,col_sleepnights])) + ','
            cost = cost + str(int(df.loc[index,col_cost])) +','
        except: pass
        for j in range(1,11):

            col_area ='D_TRA'+str(i)+'_1'+'_SPOT'+str(j)
            col_month = 'D_TRA'+str(i)+'_'+str(j)+'_SMONTH'
            
            try: 
                area = area + str(int(df.loc[index, col_area])) + ','
                count += 1
            except: pass
            try:
                month = month + str(int(df.loc[index, col_month])) + ','
            except:
                pass
            # for k in range(1,15):
            #     col_accommodation = 'D_TRA'+str(i)+'_'+str(j)+'A6_'+str(k)
            #     try:
            #         accommodation = accommodation + str(int(df.loc[index, col_accommodation])) + ','
            #     except:
            #         pass
    try:
        area = area.rstrip(area[-1])
    except:pass
    try:
        sleepnights = sleepnights.rstrip(sleepnights[-1])
    except:pass
    try:
        cost = cost.rstrip(cost[-1])
    except:pass
    try:
        month = month.rstrip(month[-1])
    except:pass
    # try:
    #     accommodation = accommodation.rstrip(accommodation[-1])
    # except:pass
    area_list.append(area)
    count_list.append(count)
    month_list.append(month)
    cost_list.append(cost)
    # accommodation_list.append(accommodation)
    sleepnights_list.append(sleepnights)

df['area']= area_list
df['no_of_place'] = count_list
df['month'] = month_list
df['cost'] = cost_list
df['sleepnights'] = sleepnights_list
# df['accommodation'] = accommodation_list

In [14]:
accommodation_list = []
for index in df.index:
    accommodation = ''
    for k in range(1,15):
        col_accommodation = 'A6_'+str(k)
        try:
            accommodation = accommodation + str(int(df.loc[index, col_accommodation])) + ','
        except:
            pass
    try:
        accommodation = accommodation.rstrip(accommodation[-1])
    except:pass
    accommodation_list.append(accommodation)
df['accommodation'] = accommodation_list

In [15]:
df['accommodation']

0        2
1        9
2        3
3        4
4        7
        ..
22567
22568    9
22569
22570    1
22571    1
Name: accommodation, Length: 22572, dtype: object

In [16]:
## 확인
df[['area', 'no_of_place', 'month', 'cost', 'sleepnights', 'accommodation']]

        area  no_of_place month cost sleepnights accommodation
0      36460            1                      2             2
1      21090            1                      2             9
2      31370            1                      2             3
3      39020            1                      3             4
4      32060            1                      1             7
...      ...          ...   ...  ...         ...           ...
22567  39010            1                      0
22568  11060            1                      3             9
22569  39010            1                      0
22570  11210            1                      2             1
22571  39010            1                      1             1

[22572 rows x 6 columns]

In [17]:
## 2차 필요컬럼
# columns_list = [
#  'D_TRA1_SYEAR',
#  'area', 'no_of_place', 'cost', 'sleepnights', 'accommodation',
#  'A1_1',
#  'A1_2',
#  'A1_3',
#  'A4_1',
#  'A4_2',
#  'A4_3',
#  'A5_1',
#  'A5_2',
#  'A5_3',
#  'A5_4',
#  'A5_5',
#  'A5_6',
#  'A5_7',
#  'A5_8',
#  'A5_9',
#  'A5_10',
#  'A5_11',
#  'A5_12',
#  'A5_13',
#  'A5_14',
#  'A5_15',
#  'A5_16',
#  'A5_17',
#  'A5_18',
#  'A5_19',
#  'A5_20',
#  'A5_21',
#  'A7',
#  'A7A',
#  'A7B_1',
#  'A7B_2',
#  'A7B_3',
#  'A7B_4',
#  'A7B_5',
#  'A7B_6',
#  'A7B_7',
#  'A9',
#  'NA9',
#  'A11',
#  'A11A_1',
#  'A11A_2',
#  'A11A_3',
#  'A11A_4',
#  'A11A_5',
#  'A11A_6',
#  'A11A_7',
#  'A11A_8',
#  'A11A_9',
#  'A11A_10',
#  'A11A_11',
#  'A11A_12',
#  'DQ7',
#  'BSEX',
#  'SAGE',
#  'BMON',
#  'BARA'
# ]

In [18]:
# df = df[columns_list]

In [19]:
## 타겟 컬럼 list (미사용포함)
target_rawcol = []
for i in range(1,22):
    target_rawcol.append("A3_"+str(i))
target_rawcol

['A3_1',
 'A3_2',
 'A3_3',
 'A3_4',
 'A3_5',
 'A3_6',
 'A3_7',
 'A3_8',
 'A3_9',
 'A3_10',
 'A3_11',
 'A3_12',
 'A3_13',
 'A3_14',
 'A3_15',
 'A3_16',
 'A3_17',
 'A3_18',
 'A3_19',
 'A3_20',
 'A3_21']

In [20]:
# Target값 전처리

# Q5. 다녀오신 여행에서 참여하신 활동은 무엇입니까? 해당되는 항목은 모두 선택해 주십시오.
# column명: A5_1 ~ A5_21
# 전처리 전:
# 자연 및 풍경감상
# 음식관광(지역 맛집 등)
# 야외 위락 및 스포츠, 레포츠 활동
# 역사 유적지 방문
# 테마파크, 놀이시설, 동/식물원 방문
# 휴식/휴양
# 온천/스파
# 쇼핑
# 지역 문화예술/공연/전시시설 관람
# 스포츠 경기관람
# 지역 축제/이벤트참가
# 교육/체험 프로그램 참가
# 종교/성지순례
# 카지노, 경마, 경륜 등
# 시티투터
# 드라마 촬영지 방문
# 유흥/오락
# 가족/친지/친구 방문
# 회의참가/시찰
# 교육/훈련/연수
# 기타

# 전처리 후:
# 1.자연 및 풍경감상
# 2.음식관광(지역 맛집 등)
# 3.야외 위락 및 스포츠, 레포츠 활동
# 4.역사 유적지 방문                                  + 16. 드라마 촬영지 방문
# 5.테마파크, 놀이시설, 동/식물원 방문
# 6.휴식/휴양                                            + 7. 온천/스파
# 8.쇼핑                                                   + 15. 시티투어
# 9.지역 문화예술/공연/전시시설 관람         + 10.스포츠 경기관람, 11.지역 축제/이벤트참가 +12. 교육/체험 프로그램 참가
# 17.유흥/오락                                           +14.카지노, 경마, 경륜 등
# 21.기타

# 삭제할 컬럼
# 13.종교/성지순례
# 18.가족/친지/친구 방문
# 19.회의참가/시찰
# 20.교육/훈련/연수

In [21]:
# 로우 드랍 할 target
# 13.종교/성지순례 385
# 18.가족/친지/친구 방문 2755
# 19.회의참가/시찰 244
# 20.교육/훈련/연수 185
# 21.기타 89 합:4081
dropcol = ['A3_13','A3_18','A3_19','A3_20', 'A3_21']
intdropcol = [13,18,19,20,21]
## 안쓰는 target row drop (기준 밖 로우들 제거)
for i, col in enumerate(dropcol):
    df = df[df[col] != intdropcol[i]]
## 안쓰는 target column drop
df.drop(columns = dropcol, inplace=True)
df

,D_TRA1_SYEAR,A3_1,A3_2,A3_3,A3_4,A3_5,A3_6,A3_7,A3_8,A3_9,...,D_TRA5_S_Day,D_TRA6_S_Day,D_TRA7_S_Day,D_TRA8_S_Day,area,no_of_place,month,cost,sleepnights,accommodation
0,2019.0,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,36460,1,,,2,2
1,2019.0,1.0,2.0,3.0,NaN,NaN,6.0,7.0,8.0,9.0,...,NaN,NaN,NaN,NaN,21090,1,,,2,9
2,2019.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,31370,1,,,2,3
5,2019.0,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,36360,1,,,2,1
6,2019.0,NaN,2.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,25040,1,,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22563,2019.0,1.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"39010,11230,39010,39010",4,,,"3,2,2,3",1
22566,2019.0,1.0,2.0,NaN,4.0,NaN,NaN,7.0,8.0,NaN,...,NaN,NaN,NaN,NaN,11230,1,,,13,"1,5,6"
22567,2019.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39010,1,,,0,
22570,2019.0,NaN,NaN,NaN,NaN,5.0,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11210,1,,,2,1
22571,2019.0,NaN,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39010,1,,,1,1

In [22]:
target_col = ['A3_1',
 'A3_2',
 'A3_3',
 'A3_4',
 'A3_5',
 'A3_6',
 'A3_7',
 'A3_8',
 'A3_9',
 'A3_10',
 'A3_11',
 'A3_12',
 'A3_14',
 'A3_15',
 'A3_16',
 'A3_17']
target_intlist = [1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17]
print(len(target_intlist), len(target_col))

16 16

In [23]:
##타겟 컬럼 압축 과정

##각 타겟 컬럼들안에 값이 있다면 추출, list에 저장
##새 컬럼에 list 삽입

target_list = []
for index in df.index:
    target_beforesplit=''
    for columns in target_col:
        try: 
            target_beforesplit = target_beforesplit + str(int(df.loc[index, columns])) + ','
        except:
            pass
    target_beforesplit = target_beforesplit.rstrip(target_beforesplit[-1])
    target_list.append(target_beforesplit)
target_list
df['target_beforesplit'] = target_list

In [24]:
## 기존 타겟 컬럼들 drop

## 타겟 컬럼들의 데이터가 압축되어 새 컬럼에 있으니
df.drop(columns=target_col, inplace=True)

In [25]:
## 교통수단 컬럼들 압축

transportaion_list = []
for index in df.index:
    transportation=''
    for columns in ['A5_1', 'A5_2', 'A5_3']:
        try: 
            transportation = transportation + str(int(df.loc[index, columns])) + ','
        except:
            pass
    transportation = transportation.rstrip(transportation[-1])
    transportaion_list.append(transportation)
transportaion_list
df['transportation'] = transportaion_list

In [26]:
## 교통 수단 압축 확인
df[['A5_1', 'A5_2', 'A5_3','transportation']].head(60)

    A5_1  A5_2  A5_3 transportation
0    2.0   4.0   NaN            2,4
1    2.0   5.0   3.0          2,5,3
2    1.0   NaN   NaN              1
5    1.0   NaN   NaN              1
6    1.0   NaN   NaN              1
7    1.0   NaN   NaN              1
9    1.0   NaN   NaN              1
11   1.0   NaN   NaN              1
12   1.0   NaN   NaN              1
13   6.0   4.0   3.0          6,4,3
14   7.0   NaN   NaN              7
15   1.0   NaN   NaN              1
16   1.0   NaN   NaN              1
17   1.0   NaN   NaN              1
18   1.0   NaN   NaN              1
19   1.0   NaN   NaN              1
20   2.0   6.0  10.0         2,6,10
21   5.0   6.0   2.0          5,6,2
22   1.0   NaN   NaN              1
24   1.0   NaN   NaN              1
26   7.0   8.0   NaN            7,8
27   1.0   NaN   NaN              1
28   1.0   NaN   NaN              1
29   1.0   NaN   NaN              1
30   1.0   NaN   NaN              1
31   7.0   NaN   NaN              7
32   1.0   NaN   NaN              1
33   3.0   7.0   6.0          3,7,6
34   6.0   NaN   NaN              6
35   1.0   NaN   NaN              1
36   6.0   NaN   NaN              6
37   1.0   NaN   NaN              1
38   1.0   NaN   NaN              1
40   5.0   2.0   NaN            5,2
42   1.0   NaN   NaN              1
43   1.0   NaN   NaN              1
44   7.0   NaN   NaN              7
45   1.0   NaN   NaN              1
46   9.0   NaN   NaN              9
47   7.0   5.0   2.0          7,5,2
48   1.0   NaN   NaN              1
49   1.0   NaN   NaN              1
50   1.0   NaN   NaN              1
51   1.0   NaN   NaN              1
52   3.0   8.0   NaN            3,8
53   1.0   NaN   NaN              1
54   1.0   NaN   NaN              1
55   6.0   4.0   NaN            6,4
56   1.0   NaN   NaN              1
57   1.0   NaN   NaN              1
58   1.0   NaN   NaN              1
60   8.0   3.0   NaN            8,3
61   6.0   NaN   NaN              6
62   6.0   NaN   NaN              6
63   1.0   NaN   NaN              1
64   2.0   5.0   NaN            2,5
65   5.0   6.0   2.0          5,6,2
66   1.0   NaN   NaN              1
67   1.0   NaN   NaN              1
68   1.0   NaN   NaN              1

In [27]:
#교통수단 컬럼들 제거
df.drop(columns=['A5_1', 'A5_2', 'A5_3'], inplace=True)

In [28]:
## 여행지 선택 이유 컬럼 압축
reason_list = []
for index in df.index:
    reason=''
    for columns in ['A2_1', 'A2_2', 'A2_3']:
        try: 
            reason = reason + str(int(df.loc[index, columns])) + ','
        except:
            pass
    reason = reason.rstrip(reason[-1])
    reason_list.append(reason)
transportaion_list
df['reason'] = reason_list

In [29]:
df.drop(columns=['A2_1', 'A2_2', 'A2_3'], inplace=True)

In [30]:
## 추가 미사용 컬럼 제거
delete_col = ['A7B_1',
 'A7B_2',
 'A7B_3',
 'A7B_4',
 'A7B_5',
 'A7B_6',
 'A7B_7']

In [31]:
## 여행자간 관계 컬럼 압축

relationship_list = []
for index in df.index:
    relationship=''
    for columns in delete_col:
        try: 
            relationship = relationship + str(int(df.loc[index, columns])) + ','
        except:
            pass
    try:
        relationship = relationship.rstrip(relationship[-1])
    except:pass
    relationship_list.append(relationship)
relationship_list
df['relationship_beforesplit'] = relationship_list
df[['A7B_1',
 'A7B_2',
 'A7B_3',
 'A7B_4',
 'A7B_5',
 'A7B_6',
 'A7B_7', 'relationship_beforesplit']].head(60)

    A7B_1  A7B_2  A7B_3  A7B_4  A7B_5  A7B_6  A7B_7 relationship_beforesplit
0     NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
1     NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
2     1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
5     NaN    NaN    NaN    4.0    NaN    NaN    NaN                        4
6     NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
7     NaN    NaN    3.0    4.0    NaN    NaN    NaN                      3,4
9     1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
11    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
12    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
13    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
14    NaN    NaN    NaN    NaN    5.0    NaN    NaN                        5
15    1.0    2.0    NaN    NaN    NaN    NaN    NaN                      1,2
16    1.0    NaN    3.0    NaN    NaN    NaN    NaN                      1,3
17    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
18    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
19    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
20    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
21    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
22    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
24    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
26    NaN    NaN    NaN    NaN    5.0    NaN    NaN                        5
27    1.0    2.0    NaN    NaN    NaN    NaN    NaN                      1,2
28    NaN    NaN    NaN    NaN    NaN    NaN    NaN
29    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
30    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
31    NaN    NaN    NaN    NaN    5.0    NaN    NaN                        5
32    1.0    2.0    NaN    NaN    NaN    NaN    NaN                      1,2
33    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
34    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
35    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
36    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
37    NaN    NaN    NaN    4.0    NaN    NaN    NaN                        4
38    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
40    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
42    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
43    1.0    2.0    NaN    NaN    NaN    NaN    NaN                      1,2
44    NaN    NaN    NaN    NaN    5.0    NaN    NaN                        5
45    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
46    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
47    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
48    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
49    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
50    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
51    1.0    2.0    NaN    NaN    NaN    NaN    NaN                      1,2
52    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
53    NaN    NaN    NaN    NaN    5.0    NaN    NaN                        5
54    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
55    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
56    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
57    1.0    2.0    NaN    NaN    NaN    NaN    NaN                      1,2
58    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
60    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
61    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
62    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
63    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
64    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
65    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1
66    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
67    NaN    NaN    3.0    NaN    NaN    NaN    NaN                        3
68    1.0    NaN    NaN    NaN    NaN    NaN    NaN                        1

In [32]:
## 관계 컬럼 제거

df.drop(columns=delete_col, inplace=True)
df

,D_TRA1_SYEAR,BSEX,BAGE,BAGE,BMON,BARA,A12,A10,A7A,A7,...,area,no_of_place,month,cost,sleepnights,accommodation,target_beforesplit,transportation,reason,relationship_beforesplit
0,2019.0,1,5,5,1,11,4.0,250000.0,0.0,12.0,...,36460,1,,,2,2,"1,2,6","2,4","14,2,9",3
1,2019.0,1,1,1,1,11,4.0,217000.0,0.0,6.0,...,21090,1,,,2,9,"1,2,3,6,7,8,9","2,5,3","2,4,10",3
2,2019.0,1,4,4,1,11,4.0,348000.0,1.0,3.0,...,31370,1,,,2,3,"1,2,3",1,"9,1,4",1
5,2019.0,2,3,3,1,11,4.0,43000.0,0.0,3.0,...,36360,1,,,2,1,"1,2,6",1,"5,14,8",4
6,2019.0,2,2,2,1,11,4.0,200000.0,0.0,3.0,...,25040,1,,,0,,"2,7",1,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22563,2019.0,1,5,5,11,39,4.0,212000.0,0.0,5.0,...,"39010,11230,39010,39010",4,,,"3,2,2,3",1,"1,2,6,15",1,"14,1,8",1
22566,2019.0,2,3,3,9,39,5.0,1365000.0,0.0,2.0,...,11230,1,,,13,"1,5,6","1,2,4,7,8,11","3,10,2","14,5,7",3
22567,2019.0,1,5,5,10,39,3.0,100000.0,0.0,2.0,...,39010,1,,,0,,"1,2",1,"4,3",1
22570,2019.0,1,1,1,12,39,4.0,300000.0,0.0,12.0,...,11210,1,,,2,1,"5,6,12,15","3,6","13,14,5",6
22571,2019.0,2,1,1,12,39,4.0,100000.0,0.0,5.0,...,39010,1,,,1,1,"2,6,15",6,"3,4,5",3

In [33]:
# ## 추가 미사용 컬럼 제거

# df.drop(columns=[ 'A11A_1', 'A11A_2',
#        'A11A_3', 'A11A_4', 'A11A_5', 'A11A_6', 'A11A_7', 'A11A_8', 'A11A_9',
#        'A11A_10', 'A11A_11', 'A11A_12', 'DQ7'], inplace=True)

In [34]:
## 최종으로 남은 컬럼들 코드에서 명칭으로 컬러명 변경

df.rename(columns = {'D_TRA1_SYEAR' : 'year',
                     'A7' : 'number_of_ppl',
                     'A7A' : 'number_of_children',
                     'A10' : 'cost_total_trip',
                     'NA10': 'cost_total_per_person',
                     'A12' : 'satisfied',

                     'BSEX': 'sex', 
                     'BAGE': 'age', 
                     'BMON': 'month', 
                     'BARA': 'living_area',
                     'area': 'target_area'
                    
                     
                    }, inplace = True)

In [35]:
df.drop(columns='cost', inplace=True)

In [36]:
df = df.reset_index()
df

,index,year,sex,age,age,month,living_area,satisfied,cost_total_trip,number_of_children,...,D_TRA8_S_Day,target_area,no_of_place,month,sleepnights,accommodation,target_beforesplit,transportation,reason,relationship_beforesplit
0,0,2019.0,1,5,5,1,11,4.0,250000.0,0.0,...,NaN,36460,1,,2,2,"1,2,6","2,4","14,2,9",3
1,1,2019.0,1,1,1,1,11,4.0,217000.0,0.0,...,NaN,21090,1,,2,9,"1,2,3,6,7,8,9","2,5,3","2,4,10",3
2,2,2019.0,1,4,4,1,11,4.0,348000.0,1.0,...,NaN,31370,1,,2,3,"1,2,3",1,"9,1,4",1
3,5,2019.0,2,3,3,1,11,4.0,43000.0,0.0,...,NaN,36360,1,,2,1,"1,2,6",1,"5,14,8",4
4,6,2019.0,2,2,2,1,11,4.0,200000.0,0.0,...,NaN,25040,1,,0,,"2,7",1,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,22563,2019.0,1,5,5,11,39,4.0,212000.0,0.0,...,NaN,"39010,11230,39010,39010",4,,"3,2,2,3",1,"1,2,6,15",1,"14,1,8",1
18142,22566,2019.0,2,3,3,9,39,5.0,1365000.0,0.0,...,NaN,11230,1,,13,"1,5,6","1,2,4,7,8,11","3,10,2","14,5,7",3
18143,22567,2019.0,1,5,5,10,39,3.0,100000.0,0.0,...,NaN,39010,1,,0,,"1,2",1,"4,3",1
18144,22570,2019.0,1,1,1,12,39,4.0,300000.0,0.0,...,NaN,11210,1,,2,1,"5,6,12,15","3,6","13,14,5",6
18145,22571,2019.0,2,1,1,12,39,4.0,100000.0,0.0,...,NaN,39010,1,,1,1,"2,6,15",6,"3,4,5",3

In [37]:
del df['index']

In [38]:
df.to_csv("2019_압축버전.csv")

In [39]:
df

,year,sex,age,age,month,living_area,satisfied,cost_total_trip,number_of_children,number_of_ppl,...,D_TRA8_S_Day,target_area,no_of_place,month,sleepnights,accommodation,target_beforesplit,transportation,reason,relationship_beforesplit
0,2019.0,1,5,5,1,11,4.0,250000.0,0.0,12.0,...,NaN,36460,1,,2,2,"1,2,6","2,4","14,2,9",3
1,2019.0,1,1,1,1,11,4.0,217000.0,0.0,6.0,...,NaN,21090,1,,2,9,"1,2,3,6,7,8,9","2,5,3","2,4,10",3
2,2019.0,1,4,4,1,11,4.0,348000.0,1.0,3.0,...,NaN,31370,1,,2,3,"1,2,3",1,"9,1,4",1
3,2019.0,2,3,3,1,11,4.0,43000.0,0.0,3.0,...,NaN,36360,1,,2,1,"1,2,6",1,"5,14,8",4
4,2019.0,2,2,2,1,11,4.0,200000.0,0.0,3.0,...,NaN,25040,1,,0,,"2,7",1,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,2019.0,1,5,5,11,39,4.0,212000.0,0.0,5.0,...,NaN,"39010,11230,39010,39010",4,,"3,2,2,3",1,"1,2,6,15",1,"14,1,8",1
18142,2019.0,2,3,3,9,39,5.0,1365000.0,0.0,2.0,...,NaN,11230,1,,13,"1,5,6","1,2,4,7,8,11","3,10,2","14,5,7",3
18143,2019.0,1,5,5,10,39,3.0,100000.0,0.0,2.0,...,NaN,39010,1,,0,,"1,2",1,"4,3",1
18144,2019.0,1,1,1,12,39,4.0,300000.0,0.0,12.0,...,NaN,11210,1,,2,1,"5,6,12,15","3,6","13,14,5",6
18145,2019.0,2,1,1,12,39,4.0,100000.0,0.0,5.0,...,NaN,39010,1,,1,1,"2,6,15",6,"3,4,5",3

# 카테고리 전처리 ==========================================================================

In [40]:
df

,year,sex,age,age,month,living_area,satisfied,cost_total_trip,number_of_children,number_of_ppl,...,D_TRA8_S_Day,target_area,no_of_place,month,sleepnights,accommodation,target_beforesplit,transportation,reason,relationship_beforesplit
0,2019.0,1,5,5,1,11,4.0,250000.0,0.0,12.0,...,NaN,36460,1,,2,2,"1,2,6","2,4","14,2,9",3
1,2019.0,1,1,1,1,11,4.0,217000.0,0.0,6.0,...,NaN,21090,1,,2,9,"1,2,3,6,7,8,9","2,5,3","2,4,10",3
2,2019.0,1,4,4,1,11,4.0,348000.0,1.0,3.0,...,NaN,31370,1,,2,3,"1,2,3",1,"9,1,4",1
3,2019.0,2,3,3,1,11,4.0,43000.0,0.0,3.0,...,NaN,36360,1,,2,1,"1,2,6",1,"5,14,8",4
4,2019.0,2,2,2,1,11,4.0,200000.0,0.0,3.0,...,NaN,25040,1,,0,,"2,7",1,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,2019.0,1,5,5,11,39,4.0,212000.0,0.0,5.0,...,NaN,"39010,11230,39010,39010",4,,"3,2,2,3",1,"1,2,6,15",1,"14,1,8",1
18142,2019.0,2,3,3,9,39,5.0,1365000.0,0.0,2.0,...,NaN,11230,1,,13,"1,5,6","1,2,4,7,8,11","3,10,2","14,5,7",3
18143,2019.0,1,5,5,10,39,3.0,100000.0,0.0,2.0,...,NaN,39010,1,,0,,"1,2",1,"4,3",1
18144,2019.0,1,1,1,12,39,4.0,300000.0,0.0,12.0,...,NaN,11210,1,,2,1,"5,6,12,15","3,6","13,14,5",6
18145,2019.0,2,1,1,12,39,4.0,100000.0,0.0,5.0,...,NaN,39010,1,,1,1,"2,6,15",6,"3,4,5",3

In [41]:
## target값 split하여 One-hot encoding
for index in df.index:
  target_list_index = df.loc[index,'target_beforesplit'].split(',')
  for targets in target_list_index:
    for i in [1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17]:
      t_col = 'target_'+str(i)
      if targets == str(i):
        df.loc[index,t_col]= 1

In [42]:
df[['target_beforesplit', 'target_1', 'target_2', 'target_3',
       'target_4', 'target_5', 'target_6', 'target_7', 'target_8', 'target_9',
       'target_10', 'target_11', 'target_12', 'target_14', 'target_15',
       'target_16', 'target_17']]

,target_beforesplit,target_1,target_2,target_3,target_4,target_5,target_6,target_7,target_8,target_9,target_10,target_11,target_12,target_14,target_15,target_16,target_17
0,"1,2,6",1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,2,3,6,7,8,9",1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1,2,3",1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1,2,6",1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"2,7",NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,"1,2,6,15",1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
18142,"1,2,4,7,8,11",1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
18143,"1,2",1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18144,"5,6,12,15",NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
18145,"2,6,15",NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [43]:
df

,year,sex,age,age,month,living_area,satisfied,cost_total_trip,number_of_children,number_of_ppl,...,target_9,target_16,target_4,target_11,target_5,target_15,target_17,target_12,target_14,target_10
0,2019.0,1,5,5,1,11,4.0,250000.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.0,1,1,1,1,11,4.0,217000.0,0.0,6.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,1,4,4,1,11,4.0,348000.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.0,2,3,3,1,11,4.0,43000.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019.0,2,2,2,1,11,4.0,200000.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,2019.0,1,5,5,11,39,4.0,212000.0,0.0,5.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
18142,2019.0,2,3,3,9,39,5.0,1365000.0,0.0,2.0,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
18143,2019.0,1,5,5,10,39,3.0,100000.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18144,2019.0,1,1,1,12,39,4.0,300000.0,0.0,12.0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN
18145,2019.0,2,1,1,12,39,4.0,100000.0,0.0,5.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [44]:
## relationship값 split하여 One-hot encoding
for index in df.index:
  target_list_index = df.loc[index,'relationship_beforesplit'].split(',')
  for i, targets in enumerate(target_list_index):
      t_col = 'relationship'+str(i+1)
      df.loc[index,t_col]= targets

In [45]:
## 여행지 장소 split
for index in df.index:
  target_list_index = df.loc[index,'target_area'].split(',')
  for i, targets in enumerate(target_list_index):
      t_col = 'target_area'+str(i+1)
      df.loc[index,t_col]= targets

In [46]:
## 14박 이상 잔 row제거
for i in df.index: 
    if sum(list(map(int, df.loc[index, 'sleepnights'].split(',')))) > 14:
        df.drop(index=i, inplace=True)

In [47]:
## 잔 횟수와(박)과 숙소 일치시키기

## 반복된 숙소 중복제거후 sleepnight당 나올 수 있는 
## accommodation 경우의수 마다 조건으로 처리
## 마지막 예외 제거 : 4row

## 반복된 숫자 줄이는 메서드
def shrink_accom(accom): 
    i = 0
    result = accom
    while i < len(result)-1:
        if result[i] == result[i+1]:
            del result[i]
        else:
            i = i+1
    return result

In [48]:
df.loc[:50,'accommodation']

0      2
1      9
2      3
3      1
4
5      3
6      4
7      2
8     13
9      9
10
11    10
12     4
13     3
14
15     1
16     2
17    12
18
19
20
21     1
22
23
24     3
25
26     2
27
28
29     3
30
31     4
32
33
34    12
35     4
36
37     3
38     3
39
40    11
41     3
42    11
43     3
44     1
45
46     8
47
48     1
49    10
50    11
Name: accommodation, dtype: object

In [49]:
test = []
for i in range(1,15):
    test.append('A6_'+str(i))
test

['A6_1',
 'A6_2',
 'A6_3',
 'A6_4',
 'A6_5',
 'A6_6',
 'A6_7',
 'A6_8',
 'A6_9',
 'A6_10',
 'A6_11',
 'A6_12',
 'A6_13',
 'A6_14']

In [50]:
df[test]

,A6_1,A6_2,A6_3,A6_4,A6_5,A6_6,A6_7,A6_8,A6_9,A6_10,A6_11,A6_12,A6_13,A6_14
0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18142,1.0,NaN,NaN,NaN,5.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18144,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18145,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df = df[df['accommodation'].notna()]

In [52]:
df[['sleepnights','accommodation']].head(60)

   sleepnights accommodation
0            2             2
1            2             9
2            2             3
3            2             1
4            0
5            1             3
6            1             4
7            1             2
8            1            13
9            2             9
10           0
11           2            10
12           2             4
13           1             3
14           0
15           4             1
16           1             2
17           1            12
18           0
19           0
20           0
21           1             1
22           0
23           0
24           1             3
25           0
26         1,0             2
27           0
28         0,2
29         1,0             3
30         0,1
31           1             4
32           0
33           0
34           1            12
35           1             4
36           0
37           1             3
38           1             3
39           0
40           1            11
41           1             3
42           1            11
43           1             3
44           1             1
45           0
46           1             8
47           0
48           2             1
49           1            10
50           2            11
51           2             1
52           0
53           1             9
54           1             3
55           0
56         0,1             4
57           1             6
58         0,1             5
59           1             3

In [53]:
df.to_csv('test.csv')

In [54]:
df = pd.read_csv('test.csv', index_col=0)

In [55]:
df = df[df['accommodation']!='']
df

,year,sex,age,age.1,month,living_area,satisfied,cost_total_trip,number_of_children,number_of_ppl,...,relationship3,relationship4,target_area1,target_area2,target_area3,target_area4,target_area5,target_area6,target_area7,target_area8
0,2019.0,1,5,5,1,11,4.0,250000.0,0.0,12.0,...,NaN,NaN,36460,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.0,1,1,1,1,11,4.0,217000.0,0.0,6.0,...,NaN,NaN,21090,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,1,4,4,1,11,4.0,348000.0,1.0,3.0,...,NaN,NaN,31370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.0,2,3,3,1,11,4.0,43000.0,0.0,3.0,...,NaN,NaN,36360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019.0,2,2,2,1,11,4.0,200000.0,0.0,3.0,...,NaN,NaN,25040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,2019.0,1,5,5,11,39,4.0,212000.0,0.0,5.0,...,NaN,NaN,39010,11230.0,39010.0,39010.0,NaN,NaN,NaN,NaN
18142,2019.0,2,3,3,9,39,5.0,1365000.0,0.0,2.0,...,NaN,NaN,11230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18143,2019.0,1,5,5,10,39,3.0,100000.0,0.0,2.0,...,NaN,NaN,39010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18144,2019.0,1,1,1,12,39,4.0,300000.0,0.0,12.0,...,NaN,NaN,11210,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18145,2019.0,2,1,1,12,39,4.0,100000.0,0.0,5.0,...,NaN,NaN,39010,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df = df.astype('object')

In [57]:
df.dtypes[100:150]

D_TRA7_1_SPOT9              object
D_TRA7_1_SPOT10             object
D_TRA8_1_SPOT1              object
D_TRA8_1_SPOT2              object
D_TRA8_1_SPOT3              object
D_TRA8_1_SPOT4              object
D_TRA8_1_SPOT5              object
D_TRA8_1_SPOT6              object
D_TRA8_1_SPOT7              object
D_TRA8_1_SPOT8              object
D_TRA8_1_SPOT9              object
D_TRA8_1_SPOT10             object
D_TRA1_S_Day                object
D_TRA2_S_Day                object
D_TRA3_S_Day                object
D_TRA4_S_Day                object
D_TRA5_S_Day                object
D_TRA6_S_Day                object
D_TRA7_S_Day                object
D_TRA8_S_Day                object
target_area                 object
no_of_place                 object
month.1                     object
sleepnights                 object
accommodation               object
target_beforesplit          object
transportation              object
reason                      object
relationship_beforesplit    object
target_1                    object
target_2                    object
target_6                    object
target_3                    object
target_7                    object
target_8                    object
target_9                    object
target_16                   object
target_4                    object
target_11                   object
target_5                    object
target_15                   object
target_17                   object
target_12                   object
target_14                   object
target_10                   object
relationship1               object
relationship2               object
relationship3               object
relationship4               object
target_area1                object
dtype: object

In [58]:
df[df['accommodation']==None]

Empty DataFrame
Columns: [year, sex, age, age.1, month, living_area, satisfied, cost_total_trip, number_of_children, number_of_ppl, A6_1, A6_2, A6_3, A6_4, A6_5, A6_6, A6_7, A6_8, A6_9, A6_10, A6_11, A6_12, A6_13, A6_14, D_TRA1_SMONTH, D_TRA2_SMONTH, D_TRA3_SMONTH, D_TRA4_SMONTH, D_TRA5_SMONTH, D_TRA6_SMONTH, D_TRA7_SMONTH, D_TRA8_SMONTH, D_TRA1_1_SPOT1, D_TRA1_1_SPOT2, D_TRA1_1_SPOT3, D_TRA1_1_SPOT4, D_TRA1_1_SPOT5, D_TRA1_1_SPOT6, D_TRA1_1_SPOT7, D_TRA1_1_SPOT8, D_TRA1_1_SPOT9, D_TRA1_1_SPOT10, D_TRA2_1_SPOT1, D_TRA2_1_SPOT2, D_TRA2_1_SPOT3, D_TRA2_1_SPOT4, D_TRA2_1_SPOT5, D_TRA2_1_SPOT6, D_TRA2_1_SPOT7, D_TRA2_1_SPOT8, D_TRA2_1_SPOT9, D_TRA2_1_SPOT10, D_TRA3_1_SPOT1, D_TRA3_1_SPOT2, D_TRA3_1_SPOT3, D_TRA3_1_SPOT4, D_TRA3_1_SPOT5, D_TRA3_1_SPOT6, D_TRA3_1_SPOT7, D_TRA3_1_SPOT8, D_TRA3_1_SPOT9, D_TRA3_1_SPOT10, D_TRA4_1_SPOT1, D_TRA4_1_SPOT2, D_TRA4_1_SPOT3, D_TRA4_1_SPOT4, D_TRA4_1_SPOT5, D_TRA4_1_SPOT6, D_TRA4_1_SPOT7, D_TRA4_1_SPOT8, D_TRA4_1_SPOT9, D_TRA4_1_SPOT10, D_TRA5_1_SPOT1, D_TRA5_1_SPOT2, D_TRA5_1_SPOT3, D_TRA5_1_SPOT4, D_TRA5_1_SPOT5, D_TRA5_1_SPOT6, D_TRA5_1_SPOT7, D_TRA5_1_SPOT8, D_TRA5_1_SPOT9, D_TRA5_1_SPOT10, D_TRA6_1_SPOT1, D_TRA6_1_SPOT2, D_TRA6_1_SPOT3, D_TRA6_1_SPOT4, D_TRA6_1_SPOT5, D_TRA6_1_SPOT6, D_TRA6_1_SPOT7, D_TRA6_1_SPOT8, D_TRA6_1_SPOT9, D_TRA6_1_SPOT10, D_TRA7_1_SPOT1, D_TRA7_1_SPOT2, D_TRA7_1_SPOT3, D_TRA7_1_SPOT4, D_TRA7_1_SPOT5, D_TRA7_1_SPOT6, D_TRA7_1_SPOT7, D_TRA7_1_SPOT8, ...]
Index: []

[0 rows x 157 columns]

In [59]:
## 잔 횟수와(박)과 숙소 일치시키기

## 반복된 숙소 중복제거후 sleepnight당 나올 수 있는 
## accommodation 경우의수 마다 조건으로 처리
## 마지막 예외 제거 : 4row

## 반복된 숫자 줄이는 메서드
def shrink_accom(accom): 
    i = 0
    result = accom
    while i < len(result)-1:
        if result[i] == result[i+1]:
            del result[i]
        else:
            i = i+1
    return result

In [63]:
for index in df.index: ##당일여행 한번 갔을때: accommodation=0
    accommo_list = []
    try:splitted_nights = list(map(int, df.loc[index, 'sleepnights'].split(','))) ## sleepnights를 int로 split
    except:print("typeerror>>",index)
    if splitted_nights == [0]:
        df.loc[index, 'accommodation'] = 0
    else:
        s = np.count_nonzero(splitted_nights) ## splitted_nights중 0이 아닌 수 count s
        if s == 0: ## 0,0,0 와 같이 0만 있을 때, 0으로 채움            for i in range(len(splitted_nights)):
            for i in range(len(splitted_nights)):
                accommo_list.append(0)
            for i, accommo in enumerate(accommo_list):
                col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                df.loc[index,col_name] = 0
        else:
            try:splitted_accommo = list(map(int, df.loc[index, 'accommodation'].split(',')))
            except:
                print('delete FLOAT>>',index, df.loc[index,'sleepnights'], df.loc[index,'accommodation'], )
                df.drop(index=index, inplace=True)
                continue
            try:shrinked_accommo = shrink_accom(list(map(int, df.loc[index, 'accommodation'].split(',')))) ## 반복된 숫자 줄여줌
            except:print('FLOAT>>',index, df.loc[index,'sleepnights'], df.loc[index,'accommodation'])
            if (s == len(shrinked_accommo)) or (len(shrinked_accommo) == 1):## s와 accommo의 길이가 같을때: s의 수대로 accommo를 곱해준다
                if [len(shrinked_accommo)] == splitted_nights: ## 0미포함
                    for i, accommo in enumerate(shrinked_accommo):
                        col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                        df.loc[index,col_name] = accommo
                else:    ##0포함
                    j=0
                    for i, nights in enumerate(splitted_nights):
                        if nights == 0:
                            accommo_list.append(0)
                        else:
                            for ni in range(nights):
                                accommo_list.append(shrinked_accommo[j])
                    j+=1
                    for i, accommo in enumerate(accommo_list):
                        col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                        df.loc[index,col_name] = accommo
            elif s > len(shrinked_accommo): ## s가 accommo의 길이보다 클 때
                if len(list(map(int, df.loc[index, 'accommodation'].split(',')))) == len(splitted_nights):
                    for i, accommo in enumerate(splitted_nights):
                        col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                        df.loc[index,col_name] = accommo
                    
                else:
                    for i, nights in enumerate(splitted_nights): ## 3,0,1 12,0,1 => 12,12,12,0,1
                        if nights == 0:
                            accommo_list.append(0)
                        else:
                            for ni in range(nights):
                                try:accommo_list.append(shrinked_accommo[i])
                                except:print('indexError>>', index, "s:", s, "s_night:", splitted_nights , 
                                             "slpnight:", df.loc[index, 'sleepnights'], 
                                             "accom", df.loc[index, 'accommodation'], 
                                             "splt_accom:", splitted_accommo)
                    for i, accommo in enumerate(accommo_list):
                        col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                        df.loc[index,col_name] = accommo 
                
            else: 
                if sum(list(map(int, df.loc[1215, 'sleepnights'].split(',')))) == len(list(map(
                    int, df.loc[index, 'accommodation'].split(',')))): ## [0,0,2] [1,2]
                    j=0
                    for i, nights in enumerate(list(map(int, df.loc[1215, 'sleepnights'].split(',')))): 
                        if nights == 0:
                            accommo_list.append(0)
                        else:
                            for ni in range(nights):
                                accommo_list.append(list(map(int, df.loc[index, 'accommodation'].split(',')))[j])
                                j+=1
                    for i, accommo in enumerate(accommo_list):
                        col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                        df.loc[index,col_name] = accommo 
                if [len(shrinked_accommo)] == splitted_nights: ## 0미포함
                    for i, accommo in enumerate(shrinked_accommo):
                        col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                        df.loc[index,col_name] = accommo
                elif sum(list(map(int, df.loc[index, 'sleepnights'].split(',')))) == len(list(map(int, df.loc[index, 'accommodation'].split(',')))):
                    accommo_list = list(map(int, df.loc[index, 'accommodation'].split(',')))
                    for i, accommo in enumerate(accommo_list):
                        col_name = 'accommodation_' + str(i+1) ##dataframe에 입력
                        df.loc[index,col_name] = accommo
                    # print("caught row>>", index, "s:", s, "s_night:", splitted_nights , "slpnight:", df.loc[index, 'sleepnights'], "accom", df.loc[index, 'accommodation'], "shrink_accom:", shrinked_accommo)
                else:
                    print("drop row>>", index, "s:", s, "s_night:", splitted_nights , "slpnight:", df.loc[index, 'sleepnights'], "accom", df.loc[index, 'accommodation'], "shrink_accom:", shrinked_accommo)
                    df.drop(index=index, inplace=True)

delete FLOAT>> 28 0,2 nan
delete FLOAT>> 30 0,1 nan
delete FLOAT>> 80 2,0 nan
delete FLOAT>> 86 0,1 nan
delete FLOAT>> 134 2,0 nan
delete FLOAT>> 164 0,3 nan
delete FLOAT>> 335 0,3 nan
delete FLOAT>> 544 0,1 nan
delete FLOAT>> 646 0,1,0 nan
delete FLOAT>> 660 2,0 nan
delete FLOAT>> 664 1,0 nan
delete FLOAT>> 675 2,0 nan
delete FLOAT>> 690 1,0 nan
delete FLOAT>> 738 1,0 nan
delete FLOAT>> 748 1,0 nan
delete FLOAT>> 780 1,0 nan
delete FLOAT>> 805 1,1,0 nan
delete FLOAT>> 810 1,0 nan
delete FLOAT>> 841 1,0 nan
delete FLOAT>> 866 1,0 nan
delete FLOAT>> 918 0,1 nan
delete FLOAT>> 932 2,0 nan
delete FLOAT>> 1172 2,0 nan
delete FLOAT>> 1334 2,0 nan
delete FLOAT>> 1501 1,0 nan
delete FLOAT>> 1599 2,0 nan
delete FLOAT>> 1603 0,1 nan
delete FLOAT>> 1636 1,0 nan
delete FLOAT>> 1652 1,0 nan
delete FLOAT>> 1664 2,0 nan
delete FLOAT>> 1741 1,0 nan
delete FLOAT>> 1794 0,2 nan
delete FLOAT>> 1853 1,0 nan
delete FLOAT>> 1877 2,0 nan
delete FLOAT>> 1891 1,0 nan
delete FLOAT>> 1908 4,0,0,0 nan
delete FLOAT>> 1910 2,0 nan
delete FLOAT>> 1911 2,0 nan
delete FLOAT>> 1913 3,0 nan
delete FLOAT>> 1917 0,2 nan
delete FLOAT>> 1918 2,0 nan
delete FLOAT>> 1921 0,1,0 nan
delete FLOAT>> 1923 1,0 nan
delete FLOAT>> 1924 2,0 nan
delete FLOAT>> 1925 2,0 nan
delete FLOAT>> 1931 1,0 nan
delete FLOAT>> 1934 4,0 nan
delete FLOAT>> 1949 2,0 nan
delete FLOAT>> 1975 1,0 nan
delete FLOAT>> 1987 1,0 nan
delete FLOAT>> 1995 1,0 nan
delete FLOAT>> 2030 2,0 nan
delete FLOAT>> 2036 2,0 nan
delete FLOAT>> 2095 0,3 nan
delete FLOAT>> 2159 1,0 nan
delete FLOAT>> 2203 1,0 nan
delete FLOAT>> 2233 2,0 nan
delete FLOAT>> 2322 2,0 nan
delete FLOAT>> 2346 1,0 nan
delete FLOAT>> 2453 1,0 nan
delete FLOAT>> 2466 2,0 nan
delete FLOAT>> 2583 3,0 nan
delete FLOAT>> 2586 0,1,0 nan
delete FLOAT>> 2587 2,0,0 nan
delete FLOAT>> 2604 4,0 nan
delete FLOAT>> 2634 0,1 nan
delete FLOAT>> 2670 1,0 nan
indexError>> 2711 s: 3 s_night: [2, 1, 3] slpnight: 2,1,3 accom 3,12 splt_accom: [3, 12]
indexError>> 2711 s: 3 s_night: [2, 1, 3] slpnight: 2,1,3 accom 3,12 splt_accom: [3, 12]
indexError>> 2711 s: 3 s_night: [2, 1, 3] slpnight: 2,1,3 accom 3,12 splt_accom: [3, 12]
delete FLOAT>> 2726 0,1 nan
delete FLOAT>> 2733 1,0 nan
delete FLOAT>> 2734 0,2 nan
delete FLOAT>> 2789 0,2 nan
delete FLOAT>> 2790 2,0 nan
delete FLOAT>> 2799 1,0 nan
delete FLOAT>> 2825 3,0 nan
delete FLOAT>> 2858 1,0,0 nan
delete FLOAT>> 2973 2,0 nan
delete FLOAT>> 2990 2,0 nan
delete FLOAT>> 3069 1,0 nan
delete FLOAT>> 3152 2,0 nan
delete FLOAT>> 3187 2,0 nan
delete FLOAT>> 3191 0,2 nan
delete FLOAT>> 3194 2,0 nan
delete FLOAT>> 3271 1,0,0,0 nan
delete FLOAT>> 3308 1,0 nan
delete FLOAT>> 3330 1,0 nan
delete FLOAT>> 3345 1,0,0 nan
delete FLOAT>> 3359 0,1 nan
delete FLOAT>> 3374 1,0 nan
delete FLOAT>> 3387 2,0 nan
delete FLOAT>> 3391 1,0 nan
delete FLOAT>> 3427 1,0,0 nan
delete FLOAT>> 3429 1,0,0 nan
delete FLOAT>> 3442 1,0 nan
delete FLOAT>> 3443 1,0 nan
delete FLOAT>> 3476 1,0 nan
delete FLOAT>> 3632 2,0 nan
delete FLOAT>> 3634 2,0 nan
delete FLOAT>> 3690 0,1 nan
delete FLOAT>> 3731 1,0 nan
delete FLOAT>> 3737 1,0 nan
delete FLOAT>> 3813 2,0,0 nan
delete FLOAT>> 3833 1,0 nan
delete FLOAT>> 3865 1,0 nan
delete FLOAT>> 3866 1,0 nan
delete FLOAT>> 3876 1,0,0 nan
delete FLOAT>> 3877 2,0 nan
delete FLOAT>> 3880 3,0 nan
delete FLOAT>> 3889 1,0 nan
delete FLOAT>> 3951 1,0,0 nan
delete FLOAT>> 3997 2,0 nan
delete FLOAT>> 4043 1,0 nan
delete FLOAT>> 4105 1,0 nan
delete FLOAT>> 4224 1,0 nan
delete FLOAT>> 4335 1,0 nan
delete FLOAT>> 4369 1,0 nan
delete FLOAT>> 4608 1,0 nan
delete FLOAT>> 4621 3,0 nan
delete FLOAT>> 4640 1,0 nan
delete FLOAT>> 4665 3,0 nan
delete FLOAT>> 4668 0,1 nan
delete FLOAT>> 4757 1,0 nan
delete FLOAT>> 4786 1,0 nan
delete FLOAT>> 4794 1,0 nan
delete FLOAT>> 4811 1,0 nan
delete FLOAT>> 4813 0,1,0 nan
delete FLOAT>> 4973 2,0 nan
delete FLOAT>> 4984 0,1 nan
delete FLOAT>> 4988 2,0 nan
delete FLOAT>> 4999 3,0 nan
delete FLOAT>> 5015 0,1 nan
delete FLOAT>> 5058 2,0 nan
delete FLOAT>> 5065 1,0 nan
delete FLOAT>> 5085 1,0 nan
delete FLOAT>> 5099 1,0 nan
delete FLOAT>> 5115 0,1 nan
delete FLOAT>> 5132 1,0 nan
delete FLOAT>> 5137 2,0 nan
delete FLOAT>> 5173 4,0 nan
delete FLOAT>> 5178 2,0 nan
delete FLOAT>> 5270 3,0 nan
delete FLOAT>> 5287 2,0 nan
delete FLOAT>> 5290 3,0 nan
delete FLOAT>> 5309 2,0 nan
delete FLOAT>> 5315 1,0 nan
delete FLOAT>> 5318 1,0 nan
delete FLOAT>> 5321 2,0 nan
delete FLOAT>> 5364 1,0 nan
delete FLOAT>> 5367 0,1 nan
delete FLOAT>> 5722 0,2 nan
delete FLOAT>> 5768 1,0 nan
delete FLOAT>> 5876 1,0 nan
delete FLOAT>> 6061 2,0 nan
delete FLOAT>> 6063 0,1 nan
delete FLOAT>> 6064 2,0 nan
delete FLOAT>> 6065 1,0 nan
delete FLOAT>> 6066 2,0 nan
delete FLOAT>> 6134 1,0 nan
delete FLOAT>> 6136 1,0 nan
delete FLOAT>> 6226 1,0 nan
delete FLOAT>> 6294 1,0 nan
delete FLOAT>> 6371 2,0 nan
delete FLOAT>> 6379 2,0 nan
delete FLOAT>> 6390 1,0 nan
delete FLOAT>> 6449 0,1 nan
delete FLOAT>> 6470 1,0 nan
delete FLOAT>> 6492 1,0 nan
delete FLOAT>> 6544 1,0,0 nan
delete FLOAT>> 6575 1,0 nan
delete FLOAT>> 6576 1,0 nan
delete FLOAT>> 6594 0,1 nan
delete FLOAT>> 6607 3,0 nan
delete FLOAT>> 6630 1,0 nan
delete FLOAT>> 6666 0,1 nan
delete FLOAT>> 6749 1,0 nan
delete FLOAT>> 6752 1,0 nan
delete FLOAT>> 6764 2,0 nan
delete FLOAT>> 6766 3,0 nan
delete FLOAT>> 6767 3,0 nan
delete FLOAT>> 6840 2,0 nan
delete FLOAT>> 6848 0,1 nan
delete FLOAT>> 6887 0,2 nan
delete FLOAT>> 6888 2,0 nan
delete FLOAT>> 6889 2,0 nan
delete FLOAT>> 6890 2,0 nan
delete FLOAT>> 6891 1,0 nan
delete FLOAT>> 6950 1,0 nan
delete FLOAT>> 6976 1,0 nan
delete FLOAT>> 7013 3,0 nan
delete FLOAT>> 7096 1,0,0 nan
delete FLOAT>> 7107 1,0 nan
delete FLOAT>> 7139 1,0,0 nan
delete FLOAT>> 7150 0,3 nan
delete FLOAT>> 7153 3,0 nan
delete FLOAT>> 7183 2,0 nan
delete FLOAT>> 7219 1,0 nan
delete FLOAT>> 7308 2,0 nan
delete FLOAT>> 7332 1,0 nan
delete FLOAT>> 7358 2,0 nan
delete FLOAT>> 7513 1,0 nan
delete FLOAT>> 7570 2,0 nan
delete FLOAT>> 7691 2,0 nan
delete FLOAT>> 7720 1,0 nan
delete FLOAT>> 7781 1,0 nan
delete FLOAT>> 7799 1,0 nan
delete FLOAT>> 7819 1,0 nan
delete FLOAT>> 7822 1,0 nan
delete FLOAT>> 7921 0,2 nan
delete FLOAT>> 7922 1,0 nan
delete FLOAT>> 7927 2,0 nan
delete FLOAT>> 7965 2,0 nan
delete FLOAT>> 7968 2,0 nan
delete FLOAT>> 7992 0,3,0,0 nan
delete FLOAT>> 8018 2,1,0 nan
delete FLOAT>> 8021 0,2 nan
delete FLOAT>> 8066 1,0 nan
delete FLOAT>> 8090 1,0 nan
delete FLOAT>> 8238 0,1 nan
delete FLOAT>> 8263 2,0 nan
delete FLOAT>> 8265 2,0 nan
delete FLOAT>> 8267 2,0 nan
delete FLOAT>> 8294 1,0 nan
delete FLOAT>> 8295 1,0 nan
delete FLOAT>> 8324 2,0 nan
delete FLOAT>> 8325 3,0 nan
delete FLOAT>> 8326 2,0 nan
delete FLOAT>> 8331 1,0,0 nan
delete FLOAT>> 8357 2,0 nan
delete FLOAT>> 8377 1,0 nan
delete FLOAT>> 8459 1,0 nan
delete FLOAT>> 8505 1,0 nan
delete FLOAT>> 8518 3,0 nan
delete FLOAT>> 8533 1,0 nan
delete FLOAT>> 8534 0,1 nan
delete FLOAT>> 8561 0,1 nan
delete FLOAT>> 8571 1,0,0 nan
delete FLOAT>> 8574 1,0 nan
delete FLOAT>> 8577 0,1,0 nan
delete FLOAT>> 8578 1,0,0 nan
delete FLOAT>> 8591 0,0,1,0 nan
delete FLOAT>> 8796 1,0 nan
delete FLOAT>> 8898 1,1,0 nan
delete FLOAT>> 8902 1,0,0 nan
delete FLOAT>> 8903 2,0,0 nan
delete FLOAT>> 8918 1,0 nan
delete FLOAT>> 8927 2,0,0 nan
delete FLOAT>> 8964 1,0 nan
delete FLOAT>> 9038 1,0 nan
delete FLOAT>> 9048 2,0 nan
delete FLOAT>> 9051 3,0 nan
delete FLOAT>> 9079 3,0 nan
delete FLOAT>> 9082 0,3 nan
delete FLOAT>> 9083 3,0 nan
delete FLOAT>> 9085 3,0 nan
delete FLOAT>> 9109 1,0 nan
delete FLOAT>> 9110 1,0 nan
delete FLOAT>> 9124 2,0,0 nan
delete FLOAT>> 9141 1,0,0 nan
delete FLOAT>> 9162 1,0 nan
delete FLOAT>> 9163 0,5 nan
delete FLOAT>> 9166 1,0 nan
delete FLOAT>> 9216 1,0 nan
delete FLOAT>> 9239 1,0 nan
delete FLOAT>> 9241 3,0 nan
delete FLOAT>> 9303 1,0 nan
delete FLOAT>> 9304 0,1 nan
delete FLOAT>> 9336 0,1 nan
delete FLOAT>> 9337 1,0 nan
delete FLOAT>> 9339 1,0 nan
delete FLOAT>> 9358 1,0 nan
delete FLOAT>> 9465 3,0 nan
delete FLOAT>> 9468 2,0 nan
delete FLOAT>> 9507 1,0 nan
drop row>> 9528 s: 1 s_night: [7] slpnight: 7 accom 1,6 shrink_accom: [1, 6]
delete FLOAT>> 9545 2,0 nan
drop row>> 9546 s: 1 s_night: [3, 0] slpnight: 3,0 accom 1,3 shrink_accom: [1, 3]
delete FLOAT>> 9562 0,1 nan
delete FLOAT>> 9564 1,0,0 nan
delete FLOAT>> 9565 1,0 nan
delete FLOAT>> 9567 1,0,0 nan
delete FLOAT>> 9572 1,0 nan
drop row>> 9640 s: 1 s_night: [4] slpnight: 4 accom 3,4 shrink_accom: [3, 4]
delete FLOAT>> 9854 1,0 nan
drop row>> 10038 s: 1 s_night: [3] slpnight: 3 accom 1,12 shrink_accom: [1, 12]
delete FLOAT>> 10073 1,0 nan
delete FLOAT>> 10074 1,0 nan
drop row>> 10090 s: 1 s_night: [6] slpnight: 6 accom 3,12 shrink_accom: [3, 12]
delete FLOAT>> 10129 1,0 nan
delete FLOAT>> 10134 2,0 nan
delete FLOAT>> 10155 1,0 nan
delete FLOAT>> 10159 2,0 nan
delete FLOAT>> 10168 3,0 nan
delete FLOAT>> 10172 1,0 nan
delete FLOAT>> 10191 1,0 nan
delete FLOAT>> 10195 1,0 nan
delete FLOAT>> 10202 0,1 nan
delete FLOAT>> 10207 1,0 nan
delete FLOAT>> 10213 1,0 nan
delete FLOAT>> 10216 1,0 nan
delete FLOAT>> 10221 1,0,0 nan
delete FLOAT>> 10229 1,0 nan
delete FLOAT>> 10491 2,0 nan
delete FLOAT>> 10510 1,0 nan
delete FLOAT>> 10511 1,0 nan
delete FLOAT>> 10518 1,0 nan
delete FLOAT>> 10520 1,0 nan
drop row>> 10622 s: 1 s_night: [3] slpnight: 3 accom 1,4 shrink_accom: [1, 4]
drop row>> 10649 s: 1 s_night: [3] slpnight: 3 accom 1,14 shrink_accom: [1, 14]
delete FLOAT>> 10652 1,0,0 nan
delete FLOAT>> 10665 2,0 nan
delete FLOAT>> 10666 1,0 nan
delete FLOAT>> 10668 1,0 nan
delete FLOAT>> 10684 1,0,0 nan
delete FLOAT>> 10710 1,0 nan
delete FLOAT>> 10721 1,0 nan
delete FLOAT>> 10740 1,0 nan
drop row>> 10936 s: 1 s_night: [3] slpnight: 3 accom 1,4 shrink_accom: [1, 4]
delete FLOAT>> 11029 1,0 nan
drop row>> 11045 s: 1 s_night: [4] slpnight: 4 accom 1,2 shrink_accom: [1, 2]
delete FLOAT>> 11070 0,1 nan
delete FLOAT>> 11128 1,0 nan
drop row>> 11197 s: 1 s_night: [3] slpnight: 3 accom 10,12 shrink_accom: [10, 12]
drop row>> 11217 s: 1 s_night: [3] slpnight: 3 accom 1,3 shrink_accom: [1, 3]
drop row>> 11267 s: 1 s_night: [6] slpnight: 6 accom 1,2,9 shrink_accom: [1, 2, 9]
delete FLOAT>> 11297 1,0 nan
delete FLOAT>> 11314 0,0,1 nan
delete FLOAT>> 11317 2,0 nan
delete FLOAT>> 11320 1,1,4,0 nan
delete FLOAT>> 11384 1,0 nan
delete FLOAT>> 11393 2,0 nan
drop row>> 11468 s: 1 s_night: [3] slpnight: 3 accom 3,9 shrink_accom: [3, 9]
delete FLOAT>> 11494 1,1,0 nan
delete FLOAT>> 11505 0,1,0,0,0 nan
delete FLOAT>> 11543 1,0 nan
delete FLOAT>> 11597 1,0 nan
delete FLOAT>> 11599 1,0 nan
drop row>> 11645 s: 1 s_night: [0, 3] slpnight: 0,3 accom 4,5 shrink_accom: [4, 5]
delete FLOAT>> 11659 1,0 nan
delete FLOAT>> 11661 1,0 nan
delete FLOAT>> 11758 2,0 nan
delete FLOAT>> 11884 1,0 nan
delete FLOAT>> 11887 1,1,1,1,0 nan
delete FLOAT>> 11900 4,0 nan
delete FLOAT>> 11901 1,0,0 nan
delete FLOAT>> 11902 1,0 nan
delete FLOAT>> 11927 1,0 nan
delete FLOAT>> 11958 1,0 nan
delete FLOAT>> 11969 0,1 nan
delete FLOAT>> 12081 1,0 nan
delete FLOAT>> 12082 1,0 nan
delete FLOAT>> 12093 3,0 nan
delete FLOAT>> 12119 1,0 nan
delete FLOAT>> 12132 1,0 nan
delete FLOAT>> 12133 1,0 nan
delete FLOAT>> 12142 1,0 nan
delete FLOAT>> 12165 2,0 nan
delete FLOAT>> 12170 1,0 nan
delete FLOAT>> 12171 1,0 nan
delete FLOAT>> 12172 1,0 nan
delete FLOAT>> 12176 1,0 nan
delete FLOAT>> 12191 1,0 nan
delete FLOAT>> 12248 1,0 nan
delete FLOAT>> 12260 1,0 nan
delete FLOAT>> 12269 0,1 nan
delete FLOAT>> 12302 0,1 nan
delete FLOAT>> 12303 2,0 nan
delete FLOAT>> 12304 0,3 nan
delete FLOAT>> 12306 2,0 nan
delete FLOAT>> 12428 1,0 nan
delete FLOAT>> 12498 2,0 nan
drop row>> 12561 s: 1 s_night: [3] slpnight: 3 accom 1,10 shrink_accom: [1, 10]
delete FLOAT>> 12685 1,0 nan
delete FLOAT>> 12711 1,0,0 nan
delete FLOAT>> 12731 1,0 nan
delete FLOAT>> 12740 1,0 nan
delete FLOAT>> 12776 0,2 nan
delete FLOAT>> 12777 1,0 nan
delete FLOAT>> 12810 2,0,0 nan
delete FLOAT>> 12811 2,0 nan
delete FLOAT>> 12812 2,0 nan
delete FLOAT>> 12813 1,0 nan
delete FLOAT>> 12814 0,2 nan
delete FLOAT>> 12847 1,0 nan
delete FLOAT>> 12865 0,2 nan
delete FLOAT>> 12868 1,0 nan
delete FLOAT>> 12869 2,0 nan
delete FLOAT>> 12870 0,2 nan
delete FLOAT>> 12900 1,1,0 nan
delete FLOAT>> 12903 2,0 nan
delete FLOAT>> 12952 2,0 nan
delete FLOAT>> 12986 1,0 nan
drop row>> 13003 s: 1 s_night: [3] slpnight: 3 accom 1,10 shrink_accom: [1, 10]
delete FLOAT>> 13063 3,0 nan
delete FLOAT>> 13064 1,0 nan
delete FLOAT>> 13065 2,0 nan
delete FLOAT>> 13067 1,0 nan
delete FLOAT>> 13103 2,0 nan
delete FLOAT>> 13106 2,0 nan
delete FLOAT>> 13145 3,0 nan
delete FLOAT>> 13181 1,0 nan
delete FLOAT>> 13187 1,0 nan
delete FLOAT>> 13200 0,1 nan
delete FLOAT>> 13300 2,0 nan
delete FLOAT>> 13350 1,0 nan
delete FLOAT>> 13440 1,0 nan
delete FLOAT>> 13473 1,0 nan
delete FLOAT>> 13485 0,3 nan
delete FLOAT>> 13491 2,0 nan
delete FLOAT>> 13493 2,0 nan
drop row>> 13554 s: 1 s_night: [0, 4] slpnight: 0,4 accom 4,9 shrink_accom: [4, 9]
delete FLOAT>> 13667 1,0 nan
delete FLOAT>> 13702 1,0 nan
delete FLOAT>> 13704 0,1 nan
delete FLOAT>> 13773 1,0 nan
delete FLOAT>> 13996 2,0 nan
delete FLOAT>> 14113 2,0 nan
delete FLOAT>> 14114 2,0 nan
delete FLOAT>> 14115 2,0 nan
delete FLOAT>> 14116 2,0 nan
delete FLOAT>> 14117 1,0 nan
delete FLOAT>> 14147 1,0 nan
delete FLOAT>> 14232 0,1,0,0 nan
delete FLOAT>> 14382 1,0 nan
delete FLOAT>> 14383 1,0 nan
drop row>> 14535 s: 1 s_night: [3] slpnight: 3 accom 4,5 shrink_accom: [4, 5]
drop row>> 14643 s: 1 s_night: [3] slpnight: 3 accom 3,4 shrink_accom: [3, 4]
delete FLOAT>> 14714 3,0 nan
delete FLOAT>> 14732 2,0 nan
delete FLOAT>> 14987 1,0 nan
delete FLOAT>> 14993 1,0 nan
delete FLOAT>> 15023 1,0 nan
delete FLOAT>> 15115 1,0 nan
delete FLOAT>> 15374 1,0 nan
delete FLOAT>> 15564 1,0 nan
delete FLOAT>> 15584 1,0 nan
delete FLOAT>> 15607 1,0 nan
delete FLOAT>> 15736 1,0,0,0 nan
delete FLOAT>> 15777 1,0 nan
delete FLOAT>> 15778 1,0 nan
drop row>> 15890 s: 1 s_night: [3] slpnight: 3 accom 11,14 shrink_accom: [11, 14]
delete FLOAT>> 15911 1,0 nan
drop row>> 15939 s: 1 s_night: [3] slpnight: 3 accom 4,5 shrink_accom: [4, 5]
delete FLOAT>> 15992 1,0 nan
delete FLOAT>> 15994 1,0,0 nan
delete FLOAT>> 16003 1,1,0 nan
delete FLOAT>> 16014 1,0 nan
delete FLOAT>> 16079 1,0 nan
delete FLOAT>> 16084 1,0 nan
delete FLOAT>> 16198 1,0 nan
delete FLOAT>> 16201 1,0 nan
delete FLOAT>> 16243 1,0 nan
delete FLOAT>> 16262 1,0 nan
delete FLOAT>> 16267 1,0 nan
delete FLOAT>> 16271 1,0 nan
delete FLOAT>> 16272 0,1,0 nan
delete FLOAT>> 16275 2,0 nan
drop row>> 16294 s: 1 s_night: [6] slpnight: 6 accom 2,3 shrink_accom: [2, 3]
delete FLOAT>> 16333 2,0 nan
delete FLOAT>> 16371 1,0 nan
drop row>> 16447 s: 1 s_night: [3] slpnight: 3 accom 2,3 shrink_accom: [2, 3]
delete FLOAT>> 16450 1,0 nan
delete FLOAT>> 16503 1,0 nan
delete FLOAT>> 16504 1,0 nan
delete FLOAT>> 16582 1,0,0 nan
delete FLOAT>> 16612 1,0 nan
delete FLOAT>> 16705 1,0 nan
delete FLOAT>> 16715 0,1 nan
delete FLOAT>> 16855 1,0 nan
delete FLOAT>> 16880 0,2 nan
delete FLOAT>> 17041 2,0 nan
delete FLOAT>> 17042 1,0 nan
delete FLOAT>> 17083 1,0 nan
delete FLOAT>> 17100 1,0 nan
delete FLOAT>> 17215 1,0 nan
delete FLOAT>> 17261 1,0 nan
delete FLOAT>> 17271 2,0 nan
delete FLOAT>> 17333 1,0 nan
delete FLOAT>> 17477 1,1,0 nan
delete FLOAT>> 17489 0,1,0 nan
delete FLOAT>> 17490 1,0 nan
delete FLOAT>> 17516 1,0 nan
delete FLOAT>> 17529 10,0 nan
delete FLOAT>> 17577 1,1,0,1 nan
delete FLOAT>> 17612 1,0 nan
delete FLOAT>> 17621 1,0 nan
delete FLOAT>> 17642 0,1 nan
delete FLOAT>> 17802 1,0 nan
delete FLOAT>> 17871 1,0 nan
delete FLOAT>> 17993 1,0 nan
delete FLOAT>> 18057 1,0 nan
drop row>> 18122 s: 1 s_night: [7] slpnight: 7 accom 1,12 shrink_accom: [1, 12]
drop row>> 18142 s: 1 s_night: [13] slpnight: 13 accom 1,5,6 shrink_accom: [1, 5, 6]

In [64]:
for index in df.index:
  target_list_index = df.loc[index,'transportation'].split(',')
  for i, targets in enumerate(target_list_index):
       t_col = 'transportation'+str(i+1)
       df.loc[index,t_col]= targets

In [65]:
for index in df.index:
  target_list_index = df.loc[index,'reason'].split(',')
  for i, targets in enumerate(target_list_index):
       t_col = 'reason'+str(i+1)
       df.loc[index,t_col]= targets

In [66]:
df.columns[50:150]

Index(['D_TRA2_1_SPOT9', 'D_TRA2_1_SPOT10', 'D_TRA3_1_SPOT1', 'D_TRA3_1_SPOT2',
       'D_TRA3_1_SPOT3', 'D_TRA3_1_SPOT4', 'D_TRA3_1_SPOT5', 'D_TRA3_1_SPOT6',
       'D_TRA3_1_SPOT7', 'D_TRA3_1_SPOT8', 'D_TRA3_1_SPOT9', 'D_TRA3_1_SPOT10',
       'D_TRA4_1_SPOT1', 'D_TRA4_1_SPOT2', 'D_TRA4_1_SPOT3', 'D_TRA4_1_SPOT4',
       'D_TRA4_1_SPOT5', 'D_TRA4_1_SPOT6', 'D_TRA4_1_SPOT7', 'D_TRA4_1_SPOT8',
       'D_TRA4_1_SPOT9', 'D_TRA4_1_SPOT10', 'D_TRA5_1_SPOT1', 'D_TRA5_1_SPOT2',
       'D_TRA5_1_SPOT3', 'D_TRA5_1_SPOT4', 'D_TRA5_1_SPOT5', 'D_TRA5_1_SPOT6',
       'D_TRA5_1_SPOT7', 'D_TRA5_1_SPOT8', 'D_TRA5_1_SPOT9', 'D_TRA5_1_SPOT10',
       'D_TRA6_1_SPOT1', 'D_TRA6_1_SPOT2', 'D_TRA6_1_SPOT3', 'D_TRA6_1_SPOT4',
       'D_TRA6_1_SPOT5', 'D_TRA6_1_SPOT6', 'D_TRA6_1_SPOT7', 'D_TRA6_1_SPOT8',
       'D_TRA6_1_SPOT9', 'D_TRA6_1_SPOT10', 'D_TRA7_1_SPOT1', 'D_TRA7_1_SPOT2',
       'D_TRA7_1_SPOT3', 'D_TRA7_1_SPOT4', 'D_TRA7_1_SPOT5', 'D_TRA7_1_SPOT6',
       'D_TRA7_1_SPOT7', 'D_TRA7_1_SPOT8', 'D_TRA7_1_SPOT9', 'D_TRA7_1_SPOT10',
       'D_TRA8_1_SPOT1', 'D_TRA8_1_SPOT2', 'D_TRA8_1_SPOT3', 'D_TRA8_1_SPOT4',
       'D_TRA8_1_SPOT5', 'D_TRA8_1_SPOT6', 'D_TRA8_1_SPOT7', 'D_TRA8_1_SPOT8',
       'D_TRA8_1_SPOT9', 'D_TRA8_1_SPOT10', 'D_TRA1_S_Day', 'D_TRA2_S_Day',
       'D_TRA3_S_Day', 'D_TRA4_S_Day', 'D_TRA5_S_Day', 'D_TRA6_S_Day',
       'D_TRA7_S_Day', 'D_TRA8_S_Day', 'target_area', 'no_of_place', 'month.1',
       'sleepnights', 'accommodation', 'target_beforesplit', 'transportation',
       'reason', 'relationship_beforesplit', 'target_1', 'target_2',
       'target_6', 'target_3', 'target_7', 'target_8', 'target_9', 'target_16',
       'target_4', 'target_11', 'target_5', 'target_15', 'target_17',
       'target_12', 'target_14', 'target_10', 'relationship1', 'relationship2',
       'relationship3', 'relationship4', 'target_area1'],
      dtype='object')

In [70]:
## 컬럼 순서 정리

column_order = ['year', 'target_area', 'no_of_place', 'sleepnights', 'accommodation',
       'number_of_ppl', 'number_of_children', 'cost_total_trip',
       'cost_total_per_person', 'satisfied', 'sex', 'age', 'month',
       'living_area', 'target_beforesplit', 'transportation', 'reason',
       'relationship_beforesplit','relationship1', 'relationship2',
       'relationship3','target_1', 'target_2', 'target_3','target_4','target_5','target_6', 'target_7','target_8', 'target_9','target_10','target_11', 'target_12','target_14', 'target_15','target_16', 'target_17', 
        'target_area1', 'target_area2', 'target_area3',
       'target_area4', 'target_area5', 'target_area6', 'target_area7',
       'target_area8', 'target_area9', 'target_area10', 'target_area11',
       'transportation1', 'transportation2', 'transportation3', 'reason1',
       'reason2', 'reason3', 'accommodation_1', 'accommodation_2',
       'accommodation_3', 'accommodation_4', 'accommodation_5',
       'accommodation_6', 'accommodation_7', 'accommodation_8',
       'accommodation_9', 'accommodation_10', 'accommodation_11',
       'accommodation_12', 'accommodation_13', 'accommodation_14']

In [71]:
df = df.reindex(columns=column_order)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17636 entries, 0 to 18145
Data columns (total 68 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      17636 non-null  object
 1   target_area               17636 non-null  object
 2   no_of_place               17636 non-null  object
 3   sleepnights               17636 non-null  object
 4   accommodation             16754 non-null  object
 5   number_of_ppl             17636 non-null  object
 6   number_of_children        17207 non-null  object
 7   cost_total_trip           17636 non-null  object
 8   cost_total_per_person     0 non-null      float64
 9   satisfied                 17636 non-null  object
 10  sex                       17636 non-null  object
 11  age                       17636 non-null  object
 12  month                     17636 non-null  object
 13  living_area               17636 non-null  object
 14  target_beforesplit        17636 non-null  object
 15  transportation            17636 non-null  object
 16  reason                    17636 non-null  object
 17  relationship_beforesplit  17207 non-null  object
 18  relationship1             17207 non-null  object
 19  relationship2             657 non-null    object
 20  relationship3             4 non-null      object
 21  target_1                  13781 non-null  object
 22  target_2                  9705 non-null   object
 23  target_3                  894 non-null    object
 24  target_4                  1850 non-null   object
 25  target_5                  1487 non-null   object
 26  target_6                  10479 non-null  object
 27  target_7                  636 non-null    object
 28  target_8                  1437 non-null   object
 29  target_9                  820 non-null    object
 30  target_10                 35 non-null     object
 31  target_11                 1003 non-null   object
 32  target_12                 294 non-null    object
 33  target_14                 15 non-null     object
 34  target_15                 915 non-null    object
 35  target_16                 819 non-null    object
 36  target_17                 592 non-null    object
 37  target_area1              17636 non-null  object
 38  target_area2              1980 non-null   object
 39  target_area3              256 non-null    object
 40  target_area4              52 non-null     object
 41  target_area5              12 non-null     object
 42  target_area6              6 non-null      object
 43  target_area7              2 non-null      object
 44  target_area8              1 non-null      object
 45  target_area9              0 non-null      float64
 46  target_area10             0 non-null      float64
 47  target_area11             0 non-null      float64
 48  transportation1           17636 non-null  object
 49  transportation2           2514 non-null   object
 50  transportation3           781 non-null    object
 51  reason1                   17636 non-null  object
 52  reason2                   16063 non-null  object
 53  reason3                   11414 non-null  object
 54  accommodation_1           8682 non-null   float64
 55  accommodation_2           3907 non-null   float64
 56  accommodation_3           914 non-null    float64
 57  accommodation_4           259 non-null    float64
 58  accommodation_5           98 non-null     float64
 59  accommodation_6           48 non-null     float64
 60  accommodation_7           29 non-null     float64
 61  accommodation_8           17 non-null     float64
 62  accommodation_9           13 non-null     float64
 63  accommodation_10          11 non-null     float64
 64  accommodation_11          9 non-null      float64
 65  accommodation_12          9 non-null      float64
 66  accommodation_13          8 non-null      float64
 67  accommodation_14          6 non-null      float64
dtypes: float64(18), object(50)
memory usage: 9.8+ MB

In [73]:
df

,year,target_area,no_of_place,sleepnights,accommodation,number_of_ppl,number_of_children,cost_total_trip,cost_total_per_person,satisfied,...,accommodation_5,accommodation_6,accommodation_7,accommodation_8,accommodation_9,accommodation_10,accommodation_11,accommodation_12,accommodation_13,accommodation_14
0,2019.0,36460,1,2,2,12.0,0.0,250000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.0,21090,1,2,9,6.0,0.0,217000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,31370,1,2,3,3.0,1.0,348000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.0,36360,1,2,1,3.0,0.0,43000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019.0,25040,1,0,0,3.0,0.0,200000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18140,2019.0,11030,1,1,1,20.0,0.0,300000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18141,2019.0,"39010,11230,39010,39010",4,"3,2,2,3",1,5.0,0.0,212000.0,NaN,4.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
18143,2019.0,39010,1,0,0,2.0,0.0,100000.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18144,2019.0,11210,1,2,1,12.0,0.0,300000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18145,2019.0,39010,1,1,1,5.0,0.0,100000.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df.to_csv('2019_split버전.csv')