In [168]:
# 주요 라이브러리 import
# 동적크롤링-커피빈
import warnings # 경고무시
warnings.filterwarnings(action='ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
#step1.selenium 패키지와 time 모듈 import
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from IPython.display import Image
import pandas as pd
from bs4 import BeautifulSoup

In [169]:
# 크롬 브라우저 실행
driver = webdriver.Chrome('/Users/hi/hi-AI/chromedriver.exe')

In [170]:
# 특정한 페이지 접속
url = 'https://www.coffeebeankorea.com/store/store.asp'
driver.get(url) # hppt요청을 보낸다. <---- http응답을 보낼 것임

In [212]:
driver.execute_script('storePop2(1)')
time.sleep(0.4)

In [5]:
html = driver.page_source # html은 string

In [8]:
type(html)

str

In [172]:
doc = BeautifulSoup(html, 'html.parser')
# parser : 분석기
# doc는 parser로 분석할 수 있는 dom-tree로 구성

In [185]:
title_list = []
time_list = []
stop_list = []
addr_list = []
tel_list = []

In [186]:
title = doc.select('#matizCoverLayer0Content > div > div > div.store_txt > h2')
title2 = title[0].string
title_list.append(title2)
title_list

['삼성봉은사거리점']

In [187]:
time1 = doc.select('#matizCoverLayer0Content > div > div > div.store_txt > table > tbody:nth-child(1) > tr:nth-child(1) > td')
time2 = time1[0].string
time_list.append(time2)
time_list

['평일 07:00-22:00 | 주말/공휴일 09:00-22:00']

In [188]:
stop = doc.select('#matizCoverLayer0Content > div > div > div.store_txt > table > tbody:nth-child(1) > tr:nth-child(2) > td')
stop2 = stop[0].string
stop_list.append(stop2)
stop_list

['건물뒷편주차장(기계주차식) 평일 최초 30분 2,000원 / 1시간 5,000원 (구매영수증 지참시 30분 2,000원 / 1시간 3,500원 1시간 초과시 10분당 1,000원 ( 평일,주말 동일 )']

In [189]:
addr = doc.select('div.store_txt > table.store_table > tbody > tr > td')
addr2 = addr[2].text
addr_list.append(addr2)
addr_list

['서울시 강남구 영동대로 607 1,2층  ']

In [190]:
tel = doc.select('#matizCoverLayer0Content > div > div > div.store_txt > table > tbody:nth-child(1) > tr:nth-child(4) > td')
tel2 = tel[0].text
tel_list.append(tel2)
tel_list

['02-3443-5618']

In [191]:
df = pd.DataFrame({
    'title' : title_list,
    'time' : time_list,
    'stop' : stop_list,
    'addr' : addr_list,
    'tel' : tel_list
})
df

,title,time,stop,addr,tel
0,삼성봉은사거리점,평일 07:00-22:00 | 주말/공휴일 09:00-22:00,"건물뒷편주차장(기계주차식) 평일 최초 30분 2,000원 / 1시간 5,000원 (...","서울시 강남구 영동대로 607 1,2층",02-3443-5618

In [192]:
# 1. 크롬 브라우저를 실행
def connect() :
    driver = webdriver.Chrome('/Users/hi/hi-AI/chromedriver.exe')
    return driver

In [193]:
driver2 = None
url = 'https://www.coffeebeankorea.com/store/store.asp'

In [210]:
# 2 . 특정 페이지를 가지고 와서 스크립트 실행
def coffee_bean(no):
    driver2.get(url)
    time.sleep(0.4)
    func = "storePop2('" + str(no) + "')"
    shop = []

    try:
        # 스크립트 실행
        driver2.execute_script(func)
        time.sleep(0.4)
        
        # 실행한 결과 html 가지고 오기
        html2 = driver2.page_source # html은 string        
        
        # bsparser 설정
        doc2 = BeautifulSoup(html2, 'html.parser')
        
        # 타이틀 검색
        title3 = doc2.select('#matizCoverLayer0Content > div > div > div.store_txt > h2')
        print('title3>>', title3)
        title4 = title3[0].string
        print('title4>>', title4)
        shop.append(title4)
        # 주소검색
        addr3 = doc2.select('div.store_txt > table.store_table > tbody > tr > td')
        addr4 = addr3[2].text
        shop.append(addr4)
        
        #전화번호검색
        tel3 = doc2.select('#matizCoverLayer0Content > div > div > div.store_txt > table > tbody:nth-child(1) > tr:nth-child(4) > td')
        tel4 = tel3[0].string
        shop.append(tel4)
        
    except:
        print('해당번호없음')
    return shop

In [207]:
driver2 = connect()

# driver2 = connect()
# coffee_bean(1, driver2)

In [208]:
coffee_bean(6)

title3>> [<h2>강남대로점</h2>]
title4>> 강남대로점

['강남대로점', '서울시 서초구 강남대로 369 1층  ', '02-588-5778']

In [213]:
for i in range(1,6):
    print('-----' + str(i) + '-----')
    coffee_bean(i)

-----1-----
title3>> [<h2>학동역 DT점</h2>]
title4>> 학동역 DT점
-----2-----
title3>> []
해당번호없음
-----3-----
title3>> [<h2>차병원점</h2>]
title4>> 차병원점
-----4-----
title3>> []
해당번호없음
-----5-----
title3>> []
해당번호없음

In [204]:
title_list2 = []
addr_list2 = []
tel_list2 = []

In [205]:
for i in range(1, 5) :
    print('-----',i,'-----')
    shop3 = coffee_bean(i)
    if len(shop3) != 0:
        title_list2.append(shop3[0])
        addr_list2.append(shop3[1])
        tel_list2.append(shop3[2])
    print(shop3)

----- 1 -----
title3>> [<h2>학동역 DT점</h2>]
title4>> 학동역 DT점
['학동역 DT점', '서울시 강남구 학동로 211 1층  ', '02-3444-9973']
----- 2 -----
title3>> []
해당번호없음
[]
----- 3 -----
title3>> [<h2>차병원점</h2>]
title4>> 차병원점
['차병원점', '서울시 강남구 논현로 566 강남차병원1층  ', '02-538-7615']
----- 4 -----
title3>> []
해당번호없음
[]

In [159]:
df2 = pd.DataFrame({
    'title' : title_list2,
    'addr' : addr_list2,
    'tel' : tel_list2
})
df2

              title                     addr           tel
0           학동역 DT점  서울시 강남구 영동대로 607 1,2층    02-3444-9973
1              차병원점  서울시 강남구 영동대로 607 1,2층     02-538-7615
2             강남대로점  서울시 강남구 영동대로 607 1,2층     02-588-5778
3             강남에스점  서울시 강남구 영동대로 607 1,2층     02-593-5095
4             청담에스점  서울시 강남구 영동대로 607 1,2층     02-548-6052
..              ...                      ...           ...
108        부평문화의거리점  서울시 강남구 영동대로 607 1,2층    032-507-9901
109         강남대로센터점  서울시 강남구 영동대로 607 1,2층     02-565-3345
110  구로G-ValleyMall  서울시 강남구 영동대로 607 1,2층    02-6344-3966
111         학동역 DT점  서울시 강남구 영동대로 607 1,2층    02-3444-9973
112            차병원점  서울시 강남구 영동대로 607 1,2층     02-538-7615

[113 rows x 3 columns]